﻿<h3>Erro ao instalar o cordova</h3>

<code>npm ERR! arg Argument starts with non-ascii dash, this is probably invalid: [ '–g', 'cordova' ]</code>
<pre>$ sudo npm install –g cordova</pre>


<h3>Erro INSTALAÇÃO</h3>
<code>module.js:549 
    throw err;</code>
Aconteceu quando executava o comando <code>$ nodejs -v</code> via <b>SSH</b> locamente não aconteceu!