<h3>O que é o Google Firebase?</h3>
O serviço em nuvem para desenvolvedores móveis é um back-end completo para aplicações mobile (Android e iOS) e aplicações web. Com visual limpo e de uso simples, o Firebase é uma plataforma dedicada e SDK para a construção de aplicativos. Atualmente, o serviço suporta desenvolvimento nas linguagens de programação C++, Java, Javascript, Node.js, Objective-C e Swift.
 
<h3>Funcionalidades do Firebase</h3>
A plataforma possui milhares de funcionalidades que vão deixar o trabalho de desenvolvimento muito mais simples. Se liga só em algumas delas:<br/>
<li>AdMob – integração com o Google AdMob;</li>
<li>AdWords – integração com o Google AdWords;</li>
<li>Analytics – um painel para monitorar o comportamento dos usuários da aplicação, segmentação demográfica e desempenho de campanha;</li>
<li>Autenticação – suporte para autenticação de usuários via e-mail, Facebook, GitHub, Google Sign-In e Twitter;</li>
<li>Relatório de Erros – monitora os erros da aplicação em todos os dispositivos e é integrado com o Analytics para analisar o comportamento dos usuários após falhas;</li>
<li>Database – um banco de dados NoSQL utilizado para armazenar dados JSON;</li>
<li>Dynamic Links – deep links para possibilitar que o usuário acesse páginas internas da aplicação;</li>
<li>Hosting – uma CDN (Content Delivery Network) distribuída globalmente para servir aplicações web;</li>
<li>Indexing – utilizado para indexar as aplicações na busca do Google (Google Search);</li>
<li>Invites – possibilita a troca de informações sobre uma aplicação entre usuários;</li>
<li>Messaging – o antigo Google Cloud Messaging (GCM) é o novo Firebase Cloud Messaging (FCM);</li>
<li>Notifications – gerenciamento de notificações enviadas para o seu usuário;</li>
<li>Offline – possibilita a armazenagem de dados na memória cache local, permitindo assim o funcionamento da aplicação em estado offline;</li>
<li>Real time – os dados são armazenados em tempo real no banco de dados;</li>
<li>Remote Config – permite aos desenvolvedores modificar o comportamento e a aparência da aplicação sem requerer que os usuários realizem o download de uma nova versão. </li>Está funcionalidade é utilizada para testes A/B, alterar o tema visual da aplicação ou até mesmo se comunicar com usuários de regiões específicas;</li>
<li>Storage – armazena as mídias do usuário, como áudio, imagens e vídeos;</li>
<li>Synchronization – quando os dados são alterados em um dispositivo eles são enviados para o Firebase e então para todos os dispositivos conectados. Caso existam dispositivos offline neste momento os mesmos serão atualizados com a última versão dos dados logo após a conexão com a internet;</li>
<li>Test Lab – para testar a aplicação em dispositivos reais.</li>
<br/>

<a href="https://blog.mastertech.com.br/tecnologia/google-firebase-for-dummies-o-que-e-e-como-funciona-plataforma/">Fonte</a>