
<h2><i class="fa fa-table fa-fw"></i> BOTÃO TOGGLE</h2>

<style type="text/css">
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {background-color: #2196F3;}
input:focus + .slider {box-shadow: 0 0 1px #2196F3;}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round { border-radius: 34px; }
.slider.round:before {border-radius: 50%; }
</style>

<label class="switch">
	<input type="checkbox">
	<span class="slider"></span>
</label>
<label class="switch">
  <input type="checkbox" checked>
  <span class="slider"></span>
</label>
<br><br>
<label class="switch">
	<input type="checkbox">
	<span class="slider round"></span>
</label>
<label class="switch">
	<input type="checkbox" checked>
	<span class="slider round"></span>
</label>

<pre><kbd>CSS</kbd>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {background-color: #2196F3;}
input:focus + .slider {box-shadow: 0 0 1px #2196F3;}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round { border-radius: 34px; }
.slider.round:before {border-radius: 50%; }
<kbd>HTML</kbd>
&lt;label class="switch"&gt;
	&lt;input type="checkbox"&gt;
	&lt;span class="slider">&lt;/span&gt;
&lt;/label&gt;
&lt;label class="switch"&gt;
	&lt;input type="checkbox" checked&gt;
	&lt;span class="slider"&gt;&lt;/span&gt;
&lt;/label&gt;
&lt;label class="switch"&gt;
	&lt;input type="checkbox"&gt;
	&lt;span class="slider round"&gt;&lt;/span&gt;
&lt;/label&gt;
&lt;label class="switch"&gt;
	&lt;input type="checkbox" checked&gt;
	&lt;span class="slider round"&gt;&lt;/span&gt;
&lt;/label&gt;
</pre>	


<br><br>
<a href="https://www.w3schools.com/howto/howto_css_switch.asp">w3schools</a>
