﻿
<h3>Pegar DATA atual</h3>
<div class="col-lg-6">
	<div class="panel panel-default">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>COMANDO</th>
						<th>AMBIENTE</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>SELECT <span style="color:red;">GETDATE()</span></td>
						<td><kbd>SQLSERVER</kbd></td>
					</tr>
					<tr>
						<td>SELECT <span style="color:red;">NOW()</span></td>
						<td><kbd>MYSQL</kbd></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<br clear="all"><br clear="all">

<h3>SQL: Capturar ANO/MES/DIA de data</h3>	
<div class="col-lg-6">
	<kbd>SQL</kbd><br/>
	<div class="panel panel-default">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>DESCRIÇÃO</th>
						<th>RETORNO</th>
						<th>SQL</th>							
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Ano</td>
						<td>2017</td>
						<td>YEAR('2017-11-15') </td>
					</tr>
					<tr>
						<td>Mês</td>
						<td>11</td>
						<td>MONTH('2017-11-15')</td>
					</tr>
					<tr>
						<td>Dia</td>
						<td>15</td>
						<td>DAY('2017-11-15')</td>
					</tr>						
				</tbody>
			</table>
		</div>
	</div>
</div>	

<br clear="all"><br clear="all">

<h3>Descobrir o DIA DA SEMANA ou MES POR EXTENSO de uma data</h3>			
<div class="col-lg-8">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>DATA</th>
							<th>SQL</th>
							<th>RETORNO</th>
							<th>AMBIENTE</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>2017-09-18</td>
							<td>DATENAME(dw,'2017-09-18') 'DIA_SEMANA'</td>
							<td><strong style="color:red">Monday</strong></td>
							<td><kbd>SQLSERVER</kbd></td>
						</tr>
						<tr>
							<td>2017-09-18</td>
							<td>DAYNAME('2017-09-18') 'DIA_SEMANA_EXTENSO'</td>
							<td><strong style="color:red">Monday</strong></td>
							<td><kbd>MYSQL</kbd></td>
						</tr>
						
						<tr>
							<td>2017-09-18</td>
							<td>WEEK('2017-09-18') 'DIA_SEMANA_ANO'</td>
							<td><strong style="color:red">38</strong></td>
							<td><kbd>MYSQL</kbd></td>
						</tr>						
						<tr>
							<td>2017-09-18</td>
							<td>WEEKDAY('2017-09-18') 'DIA_SEMANA'</td>
							<td><strong style="color:red">0</strong></td>
							<td><kbd>MYSQL</kbd></td>
						</tr>
						
						<tr>
							<td>2017-09-18</td>
							<td>MONTHNAME( '2017-09-18' ) 'MES'</td>
							<td><strong style="color:red">September</strong></td>
							<td><kbd>MYSQL</kbd></td>
						</tr>	
						<tr>
							<td>2017-09-18</td>
							<td><span style="color:red">set lc_time_names = 'pt_BR';</span><br/>
								SELECT MONTHNAME( '2017-09-18' ) 'MES'</td>
							<td><strong style="color:red">Setembro</strong></td>
							<td><kbd>MYSQL</kbd></td>
						</tr>						
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>	
<br clear="all">
<a href="https://augustopierzynski.wordpress.com/2011/08/25/formatando-data-no-sql-server/">Fonte1</a> - 
<a href="https://pt.stackoverflow.com/questions/30474/converter-dados-de-campo-data-para-m%C3%AAs-mysql">stackoverflow[1]</a> - 
<a href="https://pt.stackoverflow.com/questions/114183/select-com-o-dia-da-semana-em-portugu%C3%AAs">stackoverflow[2]</a>
<br clear="all"><br clear="all">

<h3>ADICIONAR/RETIRAR DIAS/MESES/ANOS</h3>
<div class="col-lg-8">
	<kbd>SQLSERVER</kbd><br/>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>PADRAO</th>
							<th>RETORNO</th>
							<th>SQL</th>							
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>normal</td>
							<td>2017-08-23 12:50:20.273</td>
							<td>GETDATE()</td>
						</tr>
						<tr>
							<td>DIAS</td>
							<td>2017-08-25 12:50:20.273</td>
							<td>DATEADD(DAY,+2,GETDATE())</td>
						</tr>
						<tr>
							<td>MESES</td>
							<td>2017-10-23 12:50:20.273</td>
							<td>DATEADD(MONTH,+2,GETDATE())</td>
						</tr>
						<tr>
							<td>ANOS</td>
							<td>2019-08-23 12:50:20.273</td>
							<td>DATEADD(YEAR,+2,GETDATE())</td>
						</tr>						
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>	

<div class="col-lg-8">
	<div class="panel panel-default">
		<kbd>MYSQL</kbd><br/>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th>AÇÃO</th>
						<th>SQL</th>							
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>DIAS</td>
						<td>Adicionar 10 DIAS</td>
						<td>SELECT DATE_ADD(NOW(), INTERVAL 10 DAY);</td>
					</tr>
					<tr>
						<td>MESES</td>
						<td>Adicionar 10 MESES</td>
						<td>SELECT DATE_ADD(NOW(), INTERVAL 10 MONTH);</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>	
<a href="https://www.w3schools.com/sql/func_mysql_date_add.asp">w3schools</a>
<br clear="all">

<h3>Converter DATA</h3>
<div class="col-lg-8">
	<kbd>SQLSERVER</kbd><br/>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>PADRAO</th>
							<th>RETORNO</th>
							<th>SQL</th>							
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>normal</td>
							<td>2017-08-23 11:58:19.410</td>
							<td>GETDATE()</td>
						</tr>
						<tr>
							<td>EUA</td>
							<td>2017-08-23</td>
							<td>CONVERT(DATE,GETDATE())</td>
						</tr>
						<tr>
							<td>BRASIL</td>
							<td>23/08/2017</td>
							<td>CONVERT(VARCHAR,GETDATE(),103)</td>
						</tr>	
						<tr>
							<td>troca de (/) por (-)</td>
							<td>23-08-2017</td>
							<td>CONVERT(VARCHAR,GETDATE() , 105)</td>
						</tr>
						<tr>
							<td>hora</td>
							<td>11:58:19</td>
							<td>CONVERT(VARCHAR,GETDATE() , 108)</td>
						</tr>
				
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<br clear="all"><br clear="all">

<div class="col-lg-8">
	<kbd>MYSQL</kbd><br/>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>PADRAO</th>
							<th>RETORNO</th>
							<th>SQL</th>							
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>EUA</td>
							<td>2017-08-26</td>
							<td>DATE_FORMAT(STR_TO_DATE('26/08/2017', '%d/%m/%Y'), '%Y-%m-%d')</td>
						</tr>
						<tr>
							<td>BRASIL</td>
							<td>26/08/2017</td>
							<td>DATE_FORMAT(STR_TO_DATE('2017-08-26', '%Y-%m-%d'), '%d/%m/%Y')</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>	

<br clear="all">
<a href="https://pt.stackoverflow.com/questions/72033/converter-data-mysql-dd-mm-yyyy-para-yyyy-mm-dds">stackoverflow</a>
<br clear="all">



<br clear="all">

<h3>Diferença de dias entre datas</h3>			
<div class="col-lg-8">
	<kbd>SQLSERVER</kbd><br/>
	<div class="panel panel-default">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Data Inicial</th>
						<th>Data Final</th>
						<th>Dias</th>
						<th>SQL</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>2017-10-15</td>
						<td>2017-10-31</td>
						<td>16</td>
						<td>SELECT '2017-10-15' AS 'inicio' , '2017-10-31' AS 'inicio' , DATEDIFF(DAY, '2017-10-15', '2017-10-31') AS 'dias'</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>	
<br clear="all">


<h3>Ultimo dia do mês</h3>			
<pre><kbd>MySQL</kbd>
SELECT LAST_DAY('2017-10-15') AS 'ultimo_dia'
</pre>
<a href="https://pt.stackoverflow.com/questions/154051/como-saber-quantos-dias-tem-o-m%C3%AAs-atual">stackoverflow</a>
<br clear="all">
