﻿
<kbd>DDL</kbd> – Data Definition Language ( DDL) são usadas para definir a estrutura de banco de dados ou esquema. Alguns exemplos:
<br><br>
<div class="col-lg-8">
	<div class="panel panel-default">
		<div class="table-responsive">
			<table class="table">
				<tbody>
					<tr>
						<th>CREATE</th>
						<td>Para criar objetos no banco de dados</td>
					</tr>
					<tr>
						<th>ALTER</th>
						<td>Altera a estrutura da base de dados</td>
					</tr>
					<tr>
						<th>TRUNCATE</th>
						<td>Remover todos os registros de uma tabela, incluindo todos os espaços alocados para os registros são removidos</td>
					</tr>
					<tr>
						<th>COMMENT</th>
						<td>Adicionar comentários ao dicionário de dados</td>
					</tr>
					<tr>
						<th>RENAME</th>
						<td>Para renomear um objeto</td>
					</tr>							
				</tbody>
			</table>

		</div>
	</div>
</div>	

<br clear="all">

<h3>CRIANDO TABELA - PK</h3>
Criando a estrutura de uma tabela simples, a coluna id é autoincrement(identity) e chave primária(PK).
<pre><kbd>SQLSERVER</kbd>
CREATE TABLE tabela_nome(
	id INT IDENTITY(1,1) NOT NULL,
	nome VARCHAR(20) NOT NULL,
	CONSTRAINT <b>pk_numero_generico</b> PRIMARY KEY CLUSTERED (id)
);</pre>

<h3>CRIANDO TABELA - FK</h3>
Criando a estrutura de duas tabela simples, a primeira tabela possui id com autoincrement(identity) e chave primária(PK); e a segunda tabela possuim PK e FK.
<pre><kbd>SQLSERVER</kbd>
drop table dbo.documento;
drop table dbo.pessoa;

create table dbo.documento(
	id_documento INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
    ds_documento VARCHAR(50),
);
create table dbo.pessoa(
    id_pessoa INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
    id_documento INT NOT NULL,
	nm_pessoa VARCHAR(100) NOT NULL,
	CONSTRAINT fk_documento_001 FOREIGN KEY (id_documento) REFERENCES documento (id_documento)
);</pre>

Inserindo os registros ...
<pre>insert into dbo.documento (ds_documento) values ('CARTEIRA DE MOTORISTA');
insert into dbo.documento (ds_documento) values ('RG');
insert into dbo.pessoa (id_documento,nm_pessoa) values (1,'Roberto');
insert into dbo.pessoa (id_documento,nm_pessoa) values (1,'Tonia');
insert into dbo.pessoa (id_documento,nm_pessoa) values (2,'Luisa');
</pre>



<h3>ADICIONANDO COLUNA</h3>
<pre><code><kbd>SQLSERVER</kbd>
<strong>ALTER TABLE</strong> nome_tabela <strong>ADD</strong> column_b <strong>TIPO</strong> NULL, column_c INT NULL ;</code></pre>
<a href="https://msdn.microsoft.com/pt-br/library/ms190238(v=sql.120).aspx">msdn</a>

<h3>ALTERAR O TIPO DA COLUNA</h3>
<pre><code><kbd>MYSQL</kbd>
<strong>ALTER TABLE</strong> nome_tabela <strong>MODIFY</strong> nome_coluna <strong>TIPO</strong></code></pre>

<pre><code><kbd>SQLSERVER</kbd>
<strong>ALTER TABLE</strong> nome_tabela <strong>ALTER COLUMN</strong> nome_coluna <strong>TIPO</strong></code></pre>
<a href="https://msdn.microsoft.com/pt-br/library/ms190238(v=sql.120).aspx">msdn</a>

<h3>CRIAR CHAVE PRIMARIA - PK</h3>
<pre><kbd>SQLSERVER</kbd>
ALTER TABLE <b>dbo.NOME_TABELA</b> ADD CONSTRAINT <b>PK_NOME_CHAVE</b> PRIMARY KEY(<b>NOME_COLUNA</b>)
</pre>
<a href="https://stackoverflow.com/questions/4862385/sql-server-add-auto-increment-primary-key-to-existing-table">stackoverflow</a> - Guilherme Dambros


<h3>CRIAR CHAVE ESTRANGEIRA - FK</h3>
<pre><code><kbd>SQLSERVER</kbd>
<strong>ALTER TABLE</strong> PEDIDOS <strong>ADD CONSTRAINT</strong> FK_COD_CLI <strong>FOREIGN KEY</strong> (COD_CLI) <strong>REFERENCES</strong> CLIENTES(COD);</code></pre>
<a href="http://www.devmedia.com.br/criando-banco-e-tabelas-garantindo-a-integridade-dos-dados/24426">DEVMEDIA</a>

<h3>SETAR VALOR PADRÃO EM COLUNA</h3>
Sintaxe:
<pre><code><strong>ALTER TABLE</strong> tabela_nome <strong>ADD</strong> campo_nome campo_tipo NOT NULL <strong>DEFAULT</strong> campo_valor ;</code></pre>
Exemplos abaixo:
<pre><code><strong>ALTER TABLE</strong> ponto <strong>ADD</strong> status BOOLEAN NOT NULL DEFAULT '1'
<strong>ALTER TABLE</strong> log <strong>ADD</strong> dt_insert DATETIME NOT NULL <strong>DEFAULT</strong> getdate() ;
</code></pre>
<a href="https://pt.stackoverflow.com/questions/72631/setar-valor-padr%C3%A3o-para-coluna-de-uma-tabela-j%C3%A1-existente">Fonte</a>


<h3>Resetar o valor de campo autoincrement</h3>
<pre><code><kbd>SQLSERVER</kbd>
DELETE FROM <strong>tabela_nome</strong> DBCC CHECKIDENT ('<strong>database_nome</strong>..<strong>tabela_nome</strong>',RESEED, 0);</code></pre>

<h3>REMOVER COLUNA</h3>
<pre><code><strong>ALTER TABLE</strong> nome_tabela <strong>DROP COLUMN</strong> nome_coluna ;</code></pre>


<br clear="all">
