
PIVOT transforma uma expressão com valor de tabela ao transformar os valores exclusivos de uma coluna na expressão em várias colunas na saída, além de executar agregações nos locais necessários dos valores de coluna remanescentes que precisam estar na saída final. UNPIVOT executa a operação oposta à PIVOT, transformando as colunas de uma expressão com valor de tabela em valores de coluna.<br><br>

O UNPIVOT é um pouco menos conhecido que o PIVOT, por razões óbvias, dentre elas, “é fácil transformar colunas em linhas”. Mas isso não limita o fato de quem já está acostumado com PIVOT, também utilize o UNPIVOT como recurso, principalmente por apresentarem sintaxes bem semelhantes.<br><br>

UNPIVOT não utiliza funções de agregação como o PIVOT, mas é necessária capacidade abstrair duas colunas, sendo a primeira, a coluna que apresentará o nome da coluna que virou linha, e a segunda, a coluna que apresentará o valor da coluna que virou linha.<br><br>


A ideia do PIVOT/UNPIVOT é inverter as linhas em colunas. Para essa situação temos um operador muito interessante e até um pouco desconhecido por muitos, o PIVOT.<br>
Primeiramente será demonstrado a maneira FIXA das colunas.<br><br>

Query abaixo , um exemplo muito simples para totalizar os tipos de moradia.<BR/>

<code>Exemplo 01</code>
Tabela de cadastro:<code>tblCad_Tipo_Moradia</code>
<table border="1">
    <tr>
        <th>cd_tipo_moradia</th>
        <th>ds_descricao</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Alvenaria</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Madeira</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Misto</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Outros</td>
    </tr>    
</table>

<br/>

<pre>SELECT 
	cad.ds_descricao AS 'descricao'
	,COUNT(c.cd_tipo_moradia) AS 'total'
FROM tblCdasiater c 
	LEFT JOIN tblCad_Tipo_Moradia cad ON c.cd_tipo_moradia = cad.cd_tipo_moradia
WHERE c.cd_tipo_moradia IS NOT NULL
GROUP BY c.cd_tipo_moradia,cad.ds_descricao
</pre>
retorno:<br/>
<table border="1">
	<tr>
		<th>descricao</th>
		<th>total</th>		
	</tr>
	<tr>
		<td>Alvenaria</td>
		<td>410</td>
	</tr>
	<tr>
		<td>Madeira</td>
		<td>579</td>
	</tr>	
	<tr>
		<td>Misto</td>
		<td>191</td>
	</tr>
	<tr>
		<td>Outros</td>
		<td>4</td>
	</tr>
</table>
<br/>

<pre>SELECT
    'totais' AS 'valor'
    ,temp.[1] AS 'Alvenaria'
    ,temp.[2] AS 'Madeira'
    ,temp.[3] AS 'Misto'
    ,temp.[4] AS 'Outros'
FROM (
	SELECT ISNULL(cd_tipo_moradia,0) AS 'cd_tipo_moradia' FROM tblCdasiater c 
 )s PIVOT (
    COUNT(cd_tipo_moradia)
    FOR cd_tipo_moradia IN ( [1],[2],[3],[4])
) AS temp </pre>

retorno:
<table border="1">
    <tr>
        <th>valor</th>
        <th>Alvenaria</th>
        <th>Madeira</th>
        <th>Misto</th>
        <th>Outros</th>
    </tr>
    <tr>
        <td>totais</td>
        <td>410</td>
        <td>579</td>
        <td>191</td>
        <td>4</td>
    </tr>    
</table>
<br/>

Contudo o desafio agora é buscar de maneira dinamica as colunas que serão exibidas no <b>PIVOT</b>.
<pre>DECLARE @SQLStr VARCHAR(5000);
SET @SQLStr=''
SELECT 
    @SQLStr=@SQLStr+'['+[a].[Column]+'], '
FROM (
    SELECT CONVERT(VARCHAR(20),ds_descricao) AS [Column] FROM tblCad_Tipo_Moradia
)a
SET @SQLStr=LEFT(@SQLStr,len(@SQLStr)-1)

SET @SQLStr=
'SELECT
    ''VALORES'' AS descricao,'
    +@SQLStr+
'FROM (
    SELECT ds_descricao AS CONTAR_COLUNA FROM tblCdasiater c 
        LEFT JOIN tblCad_Tipo_Moradia cad ON cad.cd_tipo_moradia = c.cd_tipo_moradia
    )s PIVOT (
    COUNT(CONTAR_COLUNA)
    FOR CONTAR_COLUNA IN ('+@SQLStr+')
) AS temp '
EXEC(@SQLStr);</pre>

<a href="https://docs.microsoft.com/pt-br/sql/t-sql/queries/from-using-pivot-and-unpivot?view=sql-server-2017">microsoft</a>
<a href="https://www.devmedia.com.br/utilizando-os-operadores-pivot-e-unpivot-no-sql-server/27339">devmedia[1]</a>
<a href="https://www.devmedia.com.br/pivot-no-sql-server-invertendo-linhas-e-colunas-em-um-exemplo-real/28318">devmedia[2]</a>

<hr>
<code>Exemplo 02</code>
<pre><kbd>DDL</kbd>
DECLARE @CLIENTES TABLE (
    [id] INT IDENTITY(1,1) NOT NULL
    ,[ds_nome] VARCHAR(30)
    ,[dt_nasc] DATE
)
<kbd>DML</kbd>
INSERT INTO @CLIENTES VALUES
('Roberto', '1981-11-15'),('Tonia', '1985-03-10'),('Luisa', '2006-11-21'),('Jose', '1945-01-07'),('Eloa', '1945-06-18'),('Leandro', '1981-02-06')
,('Vagner', '1981-02-26'),('Luiz Eduardo', '1983-05-13'),('Eduardo', '1983-07-23'),('Nati', '1982-11-14'),('Tiago', '1981-11-18'),('Douglas', '1980-04-24')
,('Jorge', '1986-05-05'),('Guilherme', '1991-08-16'),('Michel', '1980-04-01'),('Cicero', '1975-01-16'),('Cristiano', '1977-04-28'),('Roberta', '1979-09-11')
,('Jonatan', '1988-04-03'),('Julia', '2010-02-14');

--SELECT * FROM @CLIENTES; 

--RODANDO O SELECT
SELECT
    'TOTAL' AS '--'
    ,[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12]
FROM (
    SELECT 
        MONTH(dt_nasc) AS 'nasc'
    FROM @CLIENTES C
) AS teste 
PIVOT (
    COUNT(nasc)  
    FOR nasc IN ([1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12])  
) AS teste2
</pre>

<a href="https://stackoverflow.com/questions/39066742/how-to-unpivot-a-column-with-different-data-type-sql-server">stackoverflow</a>
<a href="https://docs.microsoft.com/pt-br/sql/t-sql/queries/from-using-pivot-and-unpivot?view=sql-server-2017">microsoft</a>
<a href="https://sqlfromhell.wordpress.com/2013/08/15/transformando-colunas-em-linhas-com-unpivot/">sqlfromhell</a>



