﻿

<h3>CRIANDO USUARIO REMOTO</h3>
<pre><code><kbd>MYSQL</kbd>
CREATE USER 'remoto'@'%' IDENTIFIED BY '***';

GRANT ALL PRIVILEGES ON * . * TO 'remoto'@'%' IDENTIFIED BY '***' 
WITH GRANT OPTION MAX_QUERIES_PER_HOUR 0 MAX_CONNECTIONS_PER_HOUR 0 MAX_UPDATES_PER_HOUR 0 MAX_USER_CONNECTIONS 0 ;
</code></pre>

Fontes: <br>
<a href="https://www.digitalocean.com/community/tutorials/como-criar-um-novo-usuario-e-conceder-permissoes-no-mysql-pt">digitalocean</a><br>
<a href="http://www.devmedia.com.br/gerenciamento-de-usuarios-e-controle-de-acessos-do-mysql/1898">devmedia</a><br>
<a href="https://stackoverflow.com/questions/16287559/mysql-adding-user-for-remote-access">stackoverflow</a>