﻿

<h3>Cannot redeclare class...</h3>
Esse erro acontece porque a classe já foi estanciada, as vezes ocorre em classes chamadas via AJAX, a solução é verificar que ja foi instanciada anteriormente.

<pre><code>$included_files = get_included_files();
foreach ($included_files as $filename) { 
	echo "$filename\n"; 
}
</code></pre>


<h3>A non well formed numeric value encountered in</h3>

Essa 'NOTICE' aparece porque esta tentando converter uma string num outro tipo de numero exemplo:

<pre>$P['vl_salario'] = number_format($P['vl_salario'],2,".",",");</pre>

Para solucionar essse problemas descobri 2 modos.<br/>
Solucao 1: 
<pre>$x = "2,00"; //isso é uma string
$x = (float) $x; //agora é um float </pre>

e outra bem mais elegante :
<pre>$P['vl_salario'] = str_replace(',','.',preg_replace('#[^\d\,]#is','',$P['vl_salario'])); </pre>

<a href="http://phpbrasil.com/phorum/read.php?1,175192">Fonte</a>

