<h3>MYSQLI - PARAMETROS</h3>
<table class="doctable table">
<thead>
<tr>
<th>Caractere</th>
<th>Descrição</th>
</tr>
</thead>

<tbody class="tbody">
<tr>
<td>i</td>
<td>corresponde a uma variável de tipo inteiro</td>
</tr>
<tr>
<td>d</td>
<td>corresponde a uma variável de tipo double</td>
</tr>
<tr>
<td>s</td>
<td>corresponde a uma variável de tipo string</td>
</tr>
<tr>
<td>b</td>
<td>corresponde a uma variável que contém dados para um blob e enviará em pacotes</td>
</tr>
</tbody>
</table>

<a href="http://php.net/manual/pt_BR/mysqli-stmt.bind-param.php">php.net</a> - 
<a href="https://pt.stackoverflow.com/questions/89085/quando-usar-cada-tipo-de-dado-do-mysqli-stmt-bind-param">stackoverflow</a>