
<h3>1º ir para diretorio raiz</h3>
<pre>$ cd </pre>

<h3>2º criar o arquivo .bashrc</h3>
<pre>$ touch .bashrc</pre>

<h3>3º editar o arquivo .bashrc, no windows podemos utilizar o editor notepad</h3>
<pre><kbd>WINDOWS</kbd>
$ notepad .bashrc
<kbd>LINUX</kbd>
$ nano .bashrc</pre>

<h3>4º exemplos de aliases</h3>
<pre>alias sisema_nome="cd w:/intranet/sistemas/sisema_nome/"
alias gpm="git push origin master"
</pre>

<h3>5º executar/efetivar as alterações</h3>
<pre>$ source .bashrc</pre>