﻿
<h3>Comando SUDO não funciona</h3>

Ao alterar certas variáveis de ambiente, o usuário pode bagunçar tudo e tornar o comando sudo inutilizável.

<pre>$ sudo chown -R $(whoami) $(npm config get prefix)/{lib/node_modules,bin,share}</pre>
Quando isso acontece, ao usar o comando sudo, surge a seguinte mensagem: <br/>
<code>sudo: /usr/bin/sudo deve ter como dono o uid 0 e tem definido o bit setuid</code><br>

<h3>SOLUCAO</h3>
Para resolver isso, execute como root,pode ser reiniciando em <code>RECOVERY MODE</code>.<br>
Agora com o prompt do usuário root você deve remontar a partição principal com direito a escrita:<br/>
<pre>$ mount -o rw,remount /</pre>

<h4>Tentativa 1: Adicionar o seu usuario ao grupo SUDO</h4>
<pre>adduser username sudo</pre>

<h4>Tentativa 2: Editar o arquivo sudoers</h4>
<pre>$ cp /etc/sudoers /etc/sudoers.backup
$ nano /etc/sudoers</pre>

Ele deverá se parecer mais ou menos assim ...
<pre>#
# This file MUST be edited with the 'visudo' command as root.
#
# Please consider adding local content in /etc/sudoers.d/ instead of
# directly modifying this file.
#
# See the man page for details on how to write a sudoers file.
#
Defaults env_reset
Defaults secure_path="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

# Host alias specification

# User alias specification

# Cmnd alias specification

# User privilege specification
root ALL=(ALL:ALL) ALL

# Members of the admin group may gain root privileges
%admin ALL=(ALL) ALL

# Allow members of group sudo to execute any command
%sudo ALL=(ALL:ALL) ALL

# See sudoers(5) for more information on "#include" directives:

#includedir /etc/sudoers.d </pre>

Mas infelizmente também não resolveu.O que resolveu foi a combinação dos comandos abaixo:
<pre>$ chmod 0440 /etc/sudoers 
$ chown root:root /usr/bin/sudo && chmod 4755 /usr/bin/sudo</pre>

Reiniciar o sistema
<pre>$ init 6</pre>

<a href="https://www.vivaolinux.com.br/dica/sudo-usrbinsudo-deve-ter-como-dono-o-uid-0-e-tem-definido-o-bit-setuid-Resolvido">vivaolinux</a><br/>
<a href="http://www.psychocats.net/ubuntu/fixsudo">psychocats</a>