<h3>form</h3>

<h3>fieldset</h3>

<h3>legend</h3>

<h3>label</h3>

<h3>input</h3>

<h3>button</h3>

<h3>select</h3>

<h3>datalist </h3>

<h3>optgroup</h3>

<h3>option</h3>

<h3>textarea</h3>

<h3>keygen</h3>

<h3>output</h3>

<h3>progress</h3>

<h3>meter </h3>

<a href='https://developer.mozilla.org/pt-BR/docs/Web/HTML/HTML5/HTML5_element_list'>Fonte[1]</a>