<style>
	table tr td{ padding:5px; }
</style>
<div id="tabela-acentos">
<h3 id="pt">Caracteres Acentuados no Português</h3>
<table border="1">
	<tbody>
		<tr>
			<td class="c">á</td>
			<td>&amp;aacute;</td>
			<td class="c">Á</td>
			<td>&amp;Aacute;</td>
			<td class="c">ã</td>
			<td>&amp;atilde;</td>
			<td class="c">Ã</td>
			<td>&amp;Atilde;</td>
			<td class="c">â</td>
			<td>&amp;acirc;</td>
			<td class="c">Â</td>
			<td>&amp;Acirc;</td>
		</tr>
<tr><td class="c">à</td><td>&amp;agrave;</td><td class="c">À</td><td>&amp;Agrave;</td><td class="c">é</td><td>&amp;eacute;</td><td class="c">É</td><td>&amp;Eacute;</td><td class="c">ê</td><td>&amp;ecirc;</td><td class="c">Ê</td><td>&amp;Ecirc;</td></tr>
<tr><td class="c">í</td><td>&amp;iacute;</td><td class="c">Í</td><td>&amp;Iacute;</td><td class="c">ó</td><td>&amp;oacute;</td><td class="c">Ó</td><td>&amp;Oacute;</td><td class="c">õ</td><td>&amp;otilde;</td><td class="c">Õ</td><td>&amp;Otilde;</td></tr>
<tr><td class="c">ô</td><td>&amp;ocirc;</td><td class="c">Ô</td><td>&amp;Ocirc;</td><td class="c">ú</td><td>&amp;uacute;</td><td class="c">Ú</td><td>&amp;Uacute;</td><td class="c">ç</td><td>&amp;ccedil;</td><td class="c">Ç</td><td>&amp;Ccedil;</td></tr>
</tbody></table>
<br clear="all"><br clear="all">

<h3 id="ce">Caracteres Especiais</h3>
<table border="1">
<tbody><tr><td class="c">&nbsp;</td><td>espaço</td><td>&amp;nbsp;</td><td class="c">&amp;</td><td>e comercial</td><td>&amp;amp;</td><td class="c">ˆ</td><td>acento circunflexo</td><td>&amp;circ;</td><td class="c">˜</td><td>acento til</td><td>&amp;tilde;</td></tr>
<tr><td class="c">¨</td><td>acento trema</td><td>&amp;uml;</td><td class="c">´</td><td>acento agudo</td><td>&amp;cute;</td><td class="c">¸</td><td>cedilha</td><td>&amp;cedil;</td><td class="c">"</td><td>aspas duplas</td><td>&amp;quot;</td></tr>
<tr><td class="c">“</td><td>aspas duplas esquerda</td><td>&amp;ldquo;</td><td class="c">”</td><td>aspas duplas direita</td><td>&amp;rdquo;</td><td class="c">‘</td><td>aspas simples esquerda</td><td>&amp;lsquo;</td><td class="c">’</td><td>aspas simples direita</td><td>&amp;rsquo;</td></tr>
<tr><td class="c">‚</td><td>aspas baixas simples</td><td>&amp;sbquo;</td><td class="c">„</td><td>aspas baixas duplas</td><td>&amp;bdquo;</td><td class="c">º</td><td>ordenal masculino</td><td>&amp;ordm;</td><td class="c">ª</td><td>ordinal feminino</td><td>&amp;ordf;</td></tr>
<tr><td class="c">‹</td><td>aspas angulares simples esquerda</td><td>&amp;lsaquo;</td><td class="c">›</td><td>aspas angulares simples direita</td><td>&amp;rsaquo;</td><td class="c">«</td><td>aspas angulares duplas esquerda</td><td>&amp;laquo;</td><td class="c">»</td><td>aspas angulares duplas direita</td><td>&amp;raquo;</td></tr>
<tr><td class="c">–</td><td>travessão ‘en’</td><td>&amp;ndash;</td><td class="c">—</td><td>travessão ‘em’</td><td>&amp;mdash;</td><td class="c">­ &nbsp;</td><td>hífen oculto</td><td>&amp;shy;</td><td class="c">¯</td><td>macron</td><td>&amp;macr;</td></tr>
<tr><td class="c">…</td><td>reticências</td><td>&amp;hellip;</td><td class="c">¦</td><td>barra vertical</td><td>&amp;brvbar;</td><td class="c">•</td><td>marcador</td><td>&amp;bull;</td><td class="c">‣</td><td>marcador triangular</td><td>&amp;#8227;</td></tr>
<tr><td class="c">¶</td><td>parágrafo</td><td>&amp;para;</td><td class="c">§</td><td>parágrafo legal</td><td>&amp;sect;</td></tr>
</tbody></table>
<br clear="all"><br clear="all">

<h3 id="cc">Caracteres Comerciais</h3>
<table border="1">
<tbody><tr><td class="c">©</td><td>copyright</td><td>&amp;copy;</td><td class="c">®</td><td>marca registrada</td><td>&amp;reg</td><td class="c">™</td><td>trade mark</td><td>&amp;trade;</td><td class="c">£</td><td>libra esterlina</td><td>&amp;pound;</td></tr>
<tr><td class="c">¢</td><td>centavo</td><td>&amp;cent;</td><td class="c">₥</td><td>Mill (US$.001)</td><td>&amp;#8357;</td><td class="c">€</td><td>Euro</td><td>&amp;euro;</td><td class="c">¥</td><td>Iene (yen)</td><td>&amp;yen;</td></tr>
<tr><td class="c">₢</td><td>Cruzeiro (Brasil)</td><td>&amp;#8354;</td><td class="c">₣</td><td>Franco (França)</td><td>&amp;#8355;</td><td class="c">₤</td><td>Lira (Itália)</td><td>&amp;#8356;</td><td class="c">₯</td><td>Drachma (Grécia)</td><td>&amp;#8367;</td></tr>
<tr><td class="c">₦</td><td>Naira (Nigéria)</td><td>&amp;#8358;</td><td class="c">₧</td><td>Peseta (Espanha)</td><td>&amp;#8359;</td><td class="c">₨</td><td>Rupee (Índia)</td><td>&amp;#8360;</td><td class="c">₩</td><td>Won (Coréia)</td><td>&amp;#8361;</td></tr>
<tr><td class="c">₪</td><td>New sheqel (Israel) </td><td>&amp;#8362;</td><td class="c">₫</td><td>Dong (Vietnã)</td><td>&amp;#8363;</td><td class="c">₭</td><td>Kip (Laos)</td><td>&amp;#8365;</td><td class="c">₮</td><td>Tugrik (Mongólia)</td><td>&amp;#8366;</td></tr>
<tr><td class="c">¤</td><td>símbolo monetário</td><td>&amp;curren;</td></tr>
</tbody></table>
<br clear="all"><br clear="all">

<h3 id="mt">Caracteres Matemáticos e Lógicos</h3>
<table border="1"><tbody><tr><td class="c"><span class="subsob">A</span>¹</td><td>elevado a um</td><td>&amp;sup1;</td><td class="c"><span class="subsob">A</span>₁</td><td>um subscrito</td><td>&amp;#8321;</td></tr>
<tr><td class="c"><span class="subsob">A</span>²</td><td>ao quadrado</td><td>&amp;sup2;</td><td class="c"><span class="subsob">A</span>₂</td><td>dois subscrito</td><td>&amp;#8322;</td></tr>
<tr><td class="c"><span class="subsob">A</span>³</td><td>ao cubo</td><td>&amp;sup3;</td><td class="c"><span class="subsob">A</span>₃</td><td>trés subscrito</td><td>&amp;#8323;</td></tr>
<tr><td class="c"><span class="subsob">A</span>⁴</td><td>elevado a quatro</td><td>&amp;#8308;</td><td class="c"><span class="subsob">A</span>₄</td><td>quatro subscrito</td><td>&amp;#8324;</td></tr>
<tr><td class="c"><span class="subsob">A</span>⁵</td><td>elevado a cinco</td><td>&amp;#8309;</td><td class="c"><span class="subsob">A</span>₅</td><td>cinco subscrito</td><td>&amp;#8325;</td></tr>
<tr><td class="c"><span class="subsob">A</span>⁶</td><td>elevado a seis</td><td>&amp;#8310;</td><td class="c"><span class="subsob">A</span>₆</td><td>seis subscrito</td><td>&amp;#8326;</td></tr>
<tr><td class="c"><span class="subsob">A</span>⁷</td><td>elevado a sete</td><td>&amp;#8311;</td><td class="c"><span class="subsob">A</span>₇</td><td>sete subscrito</td><td>&amp;#8327;</td></tr>
<tr><td class="c"><span class="subsob">A</span>⁸</td><td>elevado a oito</td><td>&amp;#8312;</td><td class="c"><span class="subsob">A</span>₈</td><td>oito subscrito</td><td>&amp;#8328;</td></tr>
<tr><td class="c"><span class="subsob">A</span>⁹</td><td>elevado a nove</td><td>&amp;#8313;</td><td class="c"><span class="subsob">A</span>₉</td><td>nove subscrito</td><td>&amp;#8329;</td></tr>
<tr><td class="c"><span class="subsob">A</span>⁰</td><td>zero sobrescrito</td><td>&amp;#8304;</td><td class="c">₀</td><td>zero subscrito</td><td>&amp;#8320;</td></tr>
<tr><td class="c"><span class="subsob">A</span>⁼</td><td>igual sobrescrito</td><td>&amp;#8316;</td><td class="c"><span class="subsob">A</span>₌</td><td>igual subscrito</td><td>&amp;#8332;</td></tr>
<tr><td class="c"><span class="subsob">A</span>⁺</td><td>mais sobrescrito</td><td>&amp;#8314;</td><td class="c"><span class="subsob">A</span>₊</td><td>mais subscrito</td><td>&amp;#8330;</td></tr>
<tr><td class="c"><span class="subsob">A</span>⁻</td><td>menos sobrescrito</td><td>&amp;#8315;</td><td class="c"><span class="subsob">A</span>₋</td><td>menos subscrito</td><td>&amp;#8331;</td></tr>
<tr><td class="c"><span class="subsob">A</span>⁽</td><td>parênteses sobrescrito</td><td>&amp;#8317;</td><td class="c"><span class="subsob">A</span>⁾</td><td>parênteses sobrescrito</td><td>&amp;#8318;</td></tr>
<tr><td class="c"><span class="subsob">A</span>₍</td><td>parênteses subscrito</td><td>&amp;#8333;</td><td class="c"><span class="subsob">A</span>₎</td><td>parênteses subscrito</td><td>&amp;#8334;</td></tr>
<tr><td class="c"><span class="subsob">A</span>ⁿ</td><td>elevado a n</td><td>&amp;#8319;</td><td class="c"><span class="subsob">A</span>ⁱ</td><td>elevado a i</td><td>&amp;#8305;</td>
</tr></tbody></table>
<table border="1">
<tbody><tr><td class="c">½</td><td>fração um meio</td><td>&amp;frac12;</td><td class="c">⅓</td><td>fração um terço</td><td>&amp;#8531;</td><td class="c">¼</td><td>fração um quarto</td><td>&amp;frac14;</td></tr>
<tr><td class="c">⅕</td><td>fração um quinto</td><td>&amp;#8533;</td><td class="c">⅙</td><td>fração um sexto</td><td>&amp;#8537;</td><td class="c">⅛</td><td>fração um oitavo</td><td>&amp;#8539;</td></tr>
<tr><td class="c">⅔</td><td>fração dois terços</td><td>&amp;#8532;</td><td class="c">⅖</td><td>fração dois quintos</td><td>&amp;#8534;</td><td class="c">¾</td><td>fração três quartos</td><td>&amp;frac34;</td></tr>
<tr><td class="c">⅗</td><td>fração três quintos</td><td>&amp;#8535;</td><td class="c">⅜</td><td>fração três oitavos</td><td>&amp;#8540;</td><td class="c">⅘</td><td>fração quatro quintos</td><td>&amp;#8536;</td></tr>
<tr><td class="c">⅚</td><td>fração cinco sextos</td><td>&amp;#8538;</td><td class="c">⅝</td><td>fração cinco oitavos</td><td>&amp;#8541;</td><td class="c">⅞</td><td>fração sete oitavos</td><td>&amp;#8542;</td></tr>
</tbody></table>

<table border="1">
<tbody><tr><td class="c">≠</td><td>diferente</td><td>&amp;ne;</td></tr>
<tr><td class="c">≈</td><td>quase igual</td><td>&amp;asymp;</td><td class="c">≅</td><td>aproximadamente igual</td><td>&amp;cong;</td></tr>
<tr><td class="c">∝</td><td>proporcional</td><td>&amp;prop;</td><td class="c">≡</td><td>idêntico</td><td>&amp;equiv;</td></tr>
<tr><td class="c">&gt;</td><td>maior que</td><td>&amp;gt;</td><td class="c">&lt;</td><td>menor que</td><td>&amp;lt;</td></tr>
<tr><td class="c">≤</td><td>menor ou igual</td><td>&amp;le;</td><td class="c">≥</td><td>maior ou igual</td><td>&amp;ge;</td></tr>
<tr><td class="c">±</td><td>mais ou menos</td><td>&amp;plusmn;</td><td class="c">−</td><td>sinal de subtração</td><td>&amp;minus;</td></tr>
<tr><td class="c">×</td><td>sinal de multiplicação</td><td>&amp;times;</td><td class="c">÷</td><td>sinal de divisão</td><td>&amp;divide;</td></tr>
<tr><td class="c">∗</td><td>asterisco</td><td>&amp;lowast;</td><td class="c">⁄</td><td>barra de fração</td><td>&amp;frasl;</td></tr>
<tr><td class="c">‰</td><td>por-mil</td><td>&amp;permil;</td><td class="c">∫</td><td>sinal de integral</td><td>&amp;int;</td></tr>
<tr><td class="c">∑</td><td>somatório</td><td>&amp;sum;</td><td class="c">∏</td><td>PI</td><td>&amp;prod;</td></tr>
<tr><td class="c">√</td><td>raiz quadrada</td><td>&amp;radic;</td><td class="c">∞</td><td>infinito</td><td>&amp;infin;</td></tr>
<tr><td class="c">∠</td><td>ângulo</td><td>&amp;ang;</td><td class="c">⊥</td><td>perpendicular</td><td>&amp;perp;</td></tr>
<tr><td class="c">′</td><td>minuto</td><td>&amp;prime;</td><td class="c">″</td><td>segundo</td><td>&amp;Prime;</td></tr>
<tr><td class="c">°</td><td>grau</td><td>&amp;deg;</td><td class="c">∴</td><td>consequentemente</td><td>&amp;there4;</td></tr>
<tr><td class="c">⋅</td><td>ponto</td><td>&amp;sdot;</td><td class="c">·</td><td>ponto do meio</td><td>&amp;middot;</td></tr>
<tr><td class="c">∂</td><td>diferença parcial</td><td>&amp;part;</td><td class="c">ℑ</td><td>parte imaginária do número</td><td>&amp;image;</td></tr>
<tr><td class="c">ℵ</td><td>alef</td><td>&amp;alefsym;</td><td class="c">ℜ</td><td>parte real do número</td><td>&amp;real;</td></tr>
<tr><td class="c">∇</td><td>nabla</td><td>&amp;nabla;</td></tr>
<tr><td class="c">⊕</td><td>soma direta</td><td>&amp;oplus;</td><td class="c">⊗</td><td>produto de vetor</td><td>&amp;otimes;</td></tr>
<tr><td class="c">ø</td><td>produto vazio</td><td>&amp;oslash;</td><td class="c">Ø</td><td>produto vazio</td><td>&amp;Oslash;</td></tr>
<tr><td class="c">∈</td><td>elemento de/pertence a</td><td>&amp;isin;</td><td class="c">∉</td><td>nã é elemento de</td><td>&amp;notin;</td></tr>
<tr><td class="c">∩</td><td>interseção</td><td>&amp;cap;</td><td class="c">∪</td><td>união</td><td>&amp;cup;</td></tr>
<tr><td class="c">⊂</td><td>subconjunto de</td><td>&amp;sub;</td><td class="c">⊃</td><td>superconjunto de</td><td>&amp;sup;</td></tr>
<tr><td class="c">⊆</td><td>subconjunto de ou igual a</td><td>&amp;sube;</td><td class="c">⊇</td><td>superconjunto de ou igual a</td><td>&amp;supe;</td></tr>
<tr><td class="c">∃</td><td>existe</td><td>&amp;exist;</td><td class="c">∀</td><td>qualquer</td><td>&amp;forall;</td></tr>
<tr><td class="c">∅</td><td>vazio</td><td>&amp;empty;</td><td class="c">¬</td><td>não lógico</td><td>&amp;not;</td></tr>
<tr><td class="c">∧</td><td>e lógico</td><td>&amp;and;</td><td class="c">∨</td><td>ou lógico</td><td>&amp;or;</td></tr>
<tr><td class="c">◊</td><td>losango</td><td>&amp;loz;</td><td class="c">↵</td><td>retorno de carro</td><td>&amp;crarr;</td></tr>
<tr><td class="c">⌈</td><td>teto esquerdo</td><td>&amp;lceil;</td><td class="c">⌉</td><td>teto direito</td><td>&amp;rceil;</td></tr>
<tr><td class="c">⌊</td><td>piso esquerdo</td><td>&amp;lfloor;</td><td class="c">⌋</td><td>piso direito</td><td>&amp;rfloor;</td></tr><tr>
</tr></tbody></table>
<br clear="all"><br clear="all">

<h3 id="nd">Números Decorados</h3>
<table border="1">
<tbody><tr><td class="c">❶</td><td>&amp;#10102;</td><td class="c">❷</td><td>&amp;#10103;</td><td class="c">❸</td><td>&amp;#10104;</td><td class="c">❹</td><td>&amp;#10105;</td><td class="c">❺</td><td>&amp;#10106;</td></tr>
<tr><td class="c">❻</td><td>&amp;#10107;</td><td class="c">❼</td><td>&amp;#10108;</td><td class="c">❽</td><td>&amp;#10109;</td><td class="c">❾</td><td>&amp;#10110;</td><td class="c">❿</td><td>&amp;#10111;</td></tr>
<tr><td class="c">➀</td><td>&amp;#10112;</td><td class="c">➁</td><td>&amp;#10113;</td><td class="c">➂</td><td>&amp;#10114;</td><td class="c">➃</td><td>&amp;#10115;</td><td class="c">➄</td><td>&amp;#10116;</td></tr>
<tr><td class="c">➅</td><td>&amp;#10117;</td><td class="c">➆</td><td>&amp;#10118;</td><td class="c">➇</td><td>&amp;#10119;</td><td class="c">➈</td><td>&amp;#10120;</td><td class="c">➉</td><td>&amp;#10121;</td></tr>
<tr><td class="c">①</td><td>&amp;#9312;</td><td class="c">②</td><td>&amp;#9313;</td><td class="c">③</td><td>&amp;#9314;</td><td class="c">④</td><td>&amp;#9315;</td><td class="c">⑤</td><td>&amp;#9316;</td></tr>
<tr><td class="c">⑥</td><td>&amp;#9317;</td><td class="c">⑦</td><td>&amp;#9318;</td><td class="c">⑧</td><td>&amp;#9319;</td><td class="c">⑨</td><td>&amp;#9320;</td><td class="c">⑩</td><td>&amp;#9321;</td></tr>
<tr><td class="c">⑪</td><td>&amp;#9322;</td><td class="c">⑫</td><td>&amp;#9323;</td><td class="c">⑬</td><td>&amp;#9324;</td><td class="c">⑭</td><td>&amp;#9325;</td><td class="c">⑮</td><td>&amp;#9326;</td></tr>
<tr><td class="c">⑯</td><td>&amp;#9327;</td><td class="c">⑰</td><td>&amp;#9328;</td><td class="c">⑱</td><td>&amp;#9329;</td><td class="c">⑲</td><td>&amp;#9330;</td><td class="c">⑳</td><td>&amp;#9331;</td></tr>
<tr><td class="c">㉑</td><td>&amp;#12881;</td><td class="c">㉒</td><td>&amp;#12882;</td><td class="c">㉓</td><td>&amp;#12883;</td><td class="c">㉔</td><td>&amp;#12884;</td><td class="c">㉕</td><td>&amp;#12885;</td></tr>
<tr><td class="c">㉖</td><td>&amp;#12886;</td><td class="c">㉗</td><td>&amp;#12887;</td><td class="c">㉘</td><td>&amp;#12888;</td><td class="c">㉙</td><td>&amp;#12889;</td><td class="c">㉚</td><td>&amp;#12890;</td></tr>
<tr><td class="c">㉛</td><td>&amp;#12891;</td><td class="c">㉜</td><td>&amp;#12892;</td><td class="c">㉝</td><td>&amp;#12893;</td><td class="c">㉞</td><td>&amp;#12894;</td><td class="c">㉟</td><td>&amp;#12895;</td></tr>
<tr><td class="c">㊱</td><td>&amp;#12977;</td><td class="c">㊲</td><td>&amp;#12978;</td><td class="c">㊳</td><td>&amp;#12979;</td><td class="c">㊴</td><td>&amp;#12980;</td><td class="c">㊵</td><td>&amp;#12981;</td></tr>
<tr><td class="c">㊶</td><td>&amp;#12982;</td><td class="c">㊷</td><td>&amp;#12983;</td><td class="c">㊸</td><td>&amp;#12984;</td><td class="c">㊹</td><td>&amp;#12985;</td><td class="c">㊺</td><td>&amp;#12986;</td></tr>
<tr><td class="c">⓪</td><td>&amp;#9450;</td></tr>
<tr><td class="c">➊</td><td>&amp;#10122;</td><td class="c">➋</td><td>&amp;#10123;</td><td class="c">➌</td><td>&amp;#10124;</td><td class="c">➍</td><td>&amp;#10125;</td><td class="c">➎</td><td>&amp;#10126;</td></tr>
<tr><td class="c">➏</td><td>&amp;#10127;</td><td class="c">➐</td><td>&amp;#10128;</td><td class="c">➑</td><td>&amp;#10129;</td><td class="c">➒</td><td>&amp;#10130;</td><td class="c">➓</td><td>&amp;#10131;</td></tr>
<tr><td class="c">⓫</td><td>&amp;#9451;</td><td class="c">⓬</td><td>&amp;#9452;</td><td class="c">⓭</td><td>&amp;#9453;</td><td class="c">⓮</td><td>&amp;#9454;</td><td class="c">⓯</td><td>&amp;#9455;</td></tr>
<tr><td class="c">⓰</td><td>&amp;#9456;</td><td class="c">⓱</td><td>&amp;#9457;</td><td class="c">⓲</td><td>&amp;#9458;</td><td class="c">⓳</td><td>&amp;#9459;</td><td class="c">⓴</td><td>&amp;#9460;</td></tr>
<tr><td class="c">⓵</td><td>&amp;#9461;</td><td class="c">⓶</td><td>&amp;#9462;</td><td class="c">⓷</td><td>&amp;#9463;</td><td class="c">⓸</td><td>&amp;#9464;</td><td class="c">⓹</td><td>&amp;#9465;</td></tr>
<tr><td class="c">⓺</td><td>&amp;#9466;</td><td class="c">⓻</td><td>&amp;#9467;</td><td class="c">⓼</td><td>&amp;#9468;</td><td class="c">⓽</td><td>&amp;#9469;</td><td class="c">⓾</td><td>&amp;#9470;</td></tr>
</tbody></table>
<br clear="all"><br clear="all">

<h3 id="ld">Letras Decoradas</h3>
<table border="1">
<tbody><tr><td class="c">Ⓐ</td><td>&amp;#9398;</td><td class="c">Ⓑ</td><td>&amp;#9399;</td><td class="c">Ⓒ</td><td>&amp;#9400;</td><td class="c">Ⓓ</td><td>&amp;#9401;</td><td class="c">Ⓔ</td><td>&amp;#9402;</td><td class="c">Ⓕ</td><td>&amp;#9403;</td></tr>
<tr><td class="c">Ⓖ</td><td>&amp;#9404;</td><td class="c">Ⓗ</td><td>&amp;#9405;</td><td class="c">Ⓘ</td><td>&amp;#9406;</td><td class="c">Ⓙ</td><td>&amp;#9407;</td><td class="c">Ⓚ</td><td>&amp;#9408;</td><td class="c">Ⓛ</td><td>&amp;#9409;</td></tr>
<tr><td class="c">Ⓜ</td><td>&amp;#9410;</td><td class="c">Ⓝ</td><td>&amp;#9411;</td><td class="c">Ⓞ</td><td>&amp;#9412;</td><td class="c">Ⓟ</td><td>&amp;#9413;</td><td class="c">Ⓠ</td><td>&amp;#9414;</td><td class="c">Ⓡ</td><td>&amp;#9415;</td></tr>
<tr><td class="c">Ⓢ</td><td>&amp;#9416;</td><td class="c">Ⓣ</td><td>&amp;#9417;</td><td class="c">Ⓤ</td><td>&amp;#9418;</td><td class="c">Ⓥ</td><td>&amp;#9419;</td><td class="c">Ⓦ</td><td>&amp;#9420;</td><td class="c">Ⓧ</td><td>&amp;#9421;</td></tr>
<tr><td class="c">Ⓨ</td><td>&amp;#9422;</td><td class="c">Ⓩ</td><td>&amp;#9423;</td><td class="c">ⓐ</td><td>&amp;#9424;</td><td class="c">ⓑ</td><td>&amp;#9425;</td><td class="c">ⓒ</td><td>&amp;#9426;</td><td class="c">ⓓ</td><td>&amp;#9427;</td></tr>
<tr><td class="c">ⓔ</td><td>&amp;#9428;</td><td class="c">ⓕ</td><td>&amp;#9429;</td><td class="c">ⓖ</td><td>&amp;#9430;</td><td class="c">ⓗ</td><td>&amp;#9431;</td><td class="c">ⓘ</td><td>&amp;#9432;</td><td class="c">ⓙ</td><td>&amp;#9433;</td></tr>
<tr><td class="c">ⓙ</td><td>&amp;#9433;</td><td class="c">ⓚ</td><td>&amp;#9434;</td><td class="c">ⓛ</td><td>&amp;#9435;</td><td class="c">ⓜ</td><td>&amp;#9436;</td><td class="c">ⓝ</td><td>&amp;#9437;</td><td class="c">ⓞ</td><td>&amp;#9438;</td></tr>
<tr><td class="c">ⓟ</td><td>&amp;#9439;</td><td class="c">ⓠ</td><td>&amp;#9440;</td><td class="c">ⓡ</td><td>&amp;#9441;</td><td class="c">ⓢ</td><td>&amp;#9442;</td><td class="c">ⓣ</td><td>&amp;#9443;</td><td class="c">ⓤ</td><td>&amp;#9444;</td></tr>
<tr><td class="c">ⓥ</td><td>&amp;#9445;</td><td class="c">ⓦ</td><td>&amp;#9446;</td><td class="c">ⓧ</td><td>&amp;#9447;</td><td class="c">ⓨ</td><td>&amp;#9448;</td><td class="c">ⓩ</td><td>&amp;#9449;</td></tr>
</tbody></table>
<br clear="all"><br clear="all">

<h3 id="oa">Outros Acentos e Caracteres Especiais</h3>
<table border="1">
<tbody><tr><td class="c">ñ</td><td>&amp;ntilde;</td><td class="c">Ñ</td><td>&amp;Ntilde;</td><td class="c">¡</td><td>&amp;iexcl;</td><td class="c">¿</td><td>&amp;iquest;</td><td class="c">ƒ</td><td>&amp;fnof;</td><td class="c">ß</td><td>&amp;szlig;</td><td class="c">µ</td><td>&amp;micro;</td></tr>
<tr><td class="c">ä</td><td>&amp;auml;</td><td class="c">Ä</td><td>&amp;Auml;</td><td class="c">å</td><td>&amp;aring;</td><td class="c">Å</td><td>&amp;Aring;</td><td class="c">ë</td><td>&amp;euml;</td><td class="c">Ë</td><td>&amp;Euml;</td><td class="c">è</td><td>&amp;grave;</td></tr>
<tr><td class="c">È</td><td>&amp;Egrave;</td><td class="c">ï</td><td>&amp;iuml;</td><td class="c">Ï</td><td>&amp;Iuml;</td><td class="c">ì</td><td>&amp;igrave;</td><td class="c">Ì</td><td>&amp;Igrave;</td><td class="c">î</td><td>&amp;icirc;</td><td class="c">Î</td><td>&amp;Icirc;</td></tr>
<tr><td class="c">ö</td><td>&amp;ouml;</td><td class="c">Ö</td><td>&amp;Ouml;</td><td class="c">ò</td><td>&amp;ograve;</td><td class="c">Ò</td><td>&amp;Ograve;</td><td class="c">ù</td><td>&amp;ugrave;</td><td class="c">Ù</td><td>&amp;Ugrave;</td><td class="c">û</td><td>&amp;ucirc;</td></tr>
<tr><td class="c">Û</td><td>&amp;Ucirc;</td><td class="c">ü</td><td>&amp;uuml;</td><td class="c">Ü</td><td>&amp;Uuml;</td><td class="c">ý</td><td>&amp;yacute;</td><td class="c">Ý</td><td>&amp;Yacute;</td><td class="c">ÿ</td><td>&amp;yuml;</td><td class="c">Ÿ</td><td>&amp;Yuml;</td></tr>
<tr><td class="c">æ</td><td>&amp;aelig;</td><td class="c">Æ</td><td>&amp;AElig;</td><td class="c">œ</td><td>&amp;oelig;</td><td class="c">Œ</td><td>&amp;OElig;</td><td class="c">†</td><td>&amp;dagger;</td><td class="c">‡</td><td>&amp;Dagger;</td><td class="c">š</td><td>&amp;scaron;</td></tr>
<tr><td class="c">Š</td><td>&amp;Scaron;</td><td class="c">þ</td><td>&amp;thorn;</td><td class="c">Þ</td><td>&amp;THORN;</td><td class="c">ð</td><td>&amp;eth;</td><td class="c">Ð</td><td>&amp;ETH;</td></tr>
</tbody></table>
<br clear="all"><br clear="all">

<h3 id="cg">Caracteres Gregos</h3>
<table border="1">
<tbody><tr><td class="c">α</td><td>&amp;alpha;</td><td class="c">Α</td><td>&amp;Alpha;</td><td class="c">β</td><td>&amp;beta;</td><td class="c">Β</td><td>&amp;Beta;</td><td class="c">γ</td><td>&amp;gamma;</td><td class="c">Γ</td><td>&amp;Gamma;</td><td class="c">δ</td><td>&amp;delta;</td></tr>
<tr><td class="c">Δ</td><td>&amp;Delta;</td><td class="c">ε</td><td>&amp;epsilon;</td><td class="c">Ε</td><td>&amp;Epsilon;</td><td class="c">ζ</td><td>&amp;zeta;</td><td class="c">Ζ</td><td>&amp;Zeta;</td><td class="c">η</td><td>&amp;eta;</td><td class="c">Η</td><td>&amp;Eta;</td></tr>
<tr><td class="c">θ</td><td>&amp;theta;</td><td class="c">Θ</td><td>&amp;Theta;</td><td class="c">ι</td><td>&amp;iota;</td><td class="c">Ι</td><td>&amp;Iota;</td><td class="c">κ</td><td>&amp;kappa;</td><td class="c">Κ</td><td>&amp;Kappa;</td><td class="c">λ</td><td>&amp;lambda;</td></tr>
<tr><td class="c">Λ</td><td>&amp;Lambda;</td><td class="c">μ</td><td>&amp;mu;</td><td class="c">Μ</td><td>&amp;Mu;</td><td class="c">ν</td><td>&amp;nu;</td><td class="c">Ν</td><td>&amp;Nu;</td><td class="c">ξ</td><td>&amp;xi;</td><td class="c">Ξ</td><td>&amp;Xi;</td></tr>
<tr><td class="c">ο</td><td>&amp;omicron;</td><td class="c">Ο</td><td>&amp;Omicron;</td><td class="c">π</td><td>&amp;pi;</td><td class="c">Π</td><td>&amp;Pi;</td><td class="c">ρ</td><td>&amp;rho;</td><td class="c">Ρ</td><td>&amp;Rho;</td><td class="c">σ</td><td>&amp;sigma;</td></tr>
<tr><td class="c">Σ</td><td>&amp;Sigma;</td><td class="c">ς</td><td>&amp;sigmaf;</td><td class="c">τ</td><td>&amp;tau;</td><td class="c">Τ</td><td>&amp;Tau;</td><td class="c">υ</td><td>&amp;upsilon;</td><td class="c">Υ</td><td>&amp;Upsilon;</td><td class="c">φ</td><td>&amp;phi;</td></tr>
<tr><td class="c">Φ</td><td>&amp;Phi;</td><td class="c">χ</td><td>&amp;chi;</td><td class="c">Χ</td><td>&amp;Chi;</td><td class="c">ψ</td><td>&amp;psi;</td><td class="c">Ψ</td><td>&amp;Psi;</td><td class="c">ω</td><td>&amp;omega;</td><td class="c">Ω</td><td>&amp;Omega;</td></tr>
<tr><td class="c">ϑ</td><td>&amp;thetasym;</td><td class="c">ϒ</td><td>&amp;upsih;</td><td class="c">ϖ</td><td>&amp;piv;</td></tr>
</tbody></table>
<br clear="all"><br clear="all">

</div>
<br clear="all"><br clear="all">
<a href="Fonte:http://erikasarti.com/html/acentuacao-caracteres-especiais/">Fonte[1]</a>
 <a href="https://www.ime.usp.br/~glauber/html/acentos.htm">Fonte[2]</a>