<style type="text/css">
	#tabelaMarkDown{ border-collapse: collapse;border:1px solid black; width:90%;}
	#tabelaMarkDown	tr th{padding: 5px;text-align: center}
	#tabelaMarkDown	tr td{padding: 5px;border-bottom: 1px solid black;}
	#tabelaMarkDown .secao{text-align: center;background: #c1c1c1;color: white;border-top:1px solid black;font-weight: bold;font-size:150%;letter-spacing: 0.7em}

</style>

<table id="tabelaMarkDown">
	<thead>
		<tr>
			<th>MARKDOWN</th>
			<th>HTML</th>
			<th>EFEITO</th>
			<th>OBSERVAÇÃO</th>			
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="secao" colspan="4">HEADING</td>
		</tr>
		<tr>
			<td># Heading level 1</td>
			<td>&lt;h1&gt;Heading level 1&lt;/h1&gt;</td>
			<td><h1>Heading level 1</h1></td>
			<td></td>
		</tr>
		<tr>
			<td>## Heading level 2</td>
			<td>&lt;h2&gt;Heading level 2&lt;/h2&gt;</td>
			<td><h2>Heading level 2</h2></td>
			<td></td>			
		</tr>
		<tr>
			<td>### Heading level 3</td>
			<td>&lt;h3&gt;Heading level 3&lt;/h3&gt;</td>
			<td><h3>Heading level 3</h3></td>
			<td></td>			
		</tr>
		<tr>
			<td>#### Heading level 4</td>
			<td>&lt;h4&gt;Heading level 4&lt;/h4&gt;</td>
			<td><h4>Heading level 4</h4></td>
			<td></td>			
		</tr>		
	</tbody>		
		<tr>
			<td>##### Heading level 5</td>
			<td>&lt;h5&gt;Heading level 5&lt;/h5&gt;</td>
			<td><h5>Heading level 5</h5></td>
			<td></td>			
		</tr>
		<tr>
			<td>###### Heading level 6</td>
			<td>&lt;h6&gt;Heading level 6&lt;/h6&gt;</td>
			<td><h6>Heading level 6</h6></td>
			<td></td>			
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>		
	</tbody>
</table>

<a href="https://www.markdownguide.org/basic-syntax/">Fonte[1]</a>
<a href="https://guides.github.com/pdfs/markdown-cheatsheet-online.pdf">Fonte[2]</a>