
<div class="fields">
    Acessar o VIM
    <code>
        $ vim
    </code>
</div>

<h1>Dentro do VIM</h1>

<div class="fields">
    <p>Digitar <b>i</b> para começar a escrevar</p> <br />
    <p>Apertar ESC para sair do modo de edição</p>
</div>

<h2>Fora do modo de edição</h2>

<div class="fields">
    <p>Digitar "i": vai para o modo de edição</p>
    <p>Digitar "ESC": sai do modo de edição</p>
    <p>Digitar ":w": salva o arquivo</p>
    <p>Digitar ":wq": salva o arquivo e sai do vim</p>
    <p>Digitar ":q": sai do vim</p>
    <p>Digitar ":q!": força saída do vim</p>
    <p>Digitar "0": vai para o início da linha</p>
    <p>Digitar "$": vai para o fim da linha</p>
    <p>Digitar "u": desfazer última ação</p>
    <p>Digitar "x": deletar caracter onde o cursor se encontra</p>
    <p>Digitar "dd": deletar linha</p>
    <p>Digitar "p": colar texto deletado</p>
    <p>Digitar "Ctrl+F": vai uma tela para frente</p>
    <p>Digitar "Ctrl+B": vai uma tela para trás</p>
    <p>Digitar "G": vai para a última linha</p>
    <p>Digitar "1G": vai para a primeira linha</p>
    <p>Digitar "/<teste>": procura por <teste></p>
</div>
