
A Representational State Transfer (REST), em português Transferência de Estado Representacional, é uma abstração da arquitetura da World Wide Web, mais precisamente, é um estilo arquitetural que consiste de um conjunto coordenado de restrições arquiteturais aplicadas a componentes, conectores e elementos de dados dentro de um sistema de hipermídia distribuído.
<br><br>

O REST ignora os detalhes da implementação de componente e a sintaxe de protocolo com o objetivo de focar nos papéis dos componentes, nas restrições sobre sua interação com outros componentes e na sua interpretação de elementos de dados significantes.
<br><br>

Ele foi definido oficialmente pela W3C. Frequentemente aplicado à web services fornecendo APIs para acesso a um serviço qualquer na web. Ele usa integralmente as mensagens HTTP para se comunicar através do que já é definido no protocolo sem precisar "inventar" novos protocolos específicos para aquela aplicação.Você trabalha essencialmente com componentes, conectores e dados.


<ul>
    <li>Ele usa o protocolo HTTP (verbos, accept headers, códigos de estado HTTP, Content-Type) de forma explícita e representativa para se comunicar. URIs são usados para expor a estrutura do serviço. Utiliza uma notação comum para transferência de dados como XML ou JSON.</li>
    <li>Não possui estado entre essas comunicações, ou seja, cada comunicação é independente e uniforme (padronizada) precisando passar toda informação necessária.</li>
    <li>Ele deve facilitar o cache de conteúdo no cliente.</li>
    <li>Deve ter clara definição do que faz parte do cliente e do servidor. O cliente não precisa saber como o servidor armazena dados, por exemplo. Assim cada implementação não depende da outra e se torna mais escalável.</li>
    <li>Permite o uso em camadas também facilitando a escalabilidade, confiabilidade e segurança.</li>
    <li>Frequentemente é criado com alguma forma de extensibilidade.</li>
</ul>
Falhando em um dos cinco primeiros itens, a arquitetura não pode ser classificada formalmente como RESTful. Mas nem todo mundo se apega ao formalismo.Exemplo:
<pre>http://example.com/apagar/produto/1234</pre>
significa que você está pedindo para apagar o <code><b>produto de ID 1234.</b></code> Há quem diga que isto está errado e já que a ênfase é em cima dos recursos e não das operações. Deveria usar assim:

<pre>http://example.com/produto/1234 (utilizando o verbo DELETE)</pre>


<h3>Sobre Requisições HTTP</h3>

Toda as vezes que acessamos algo via browser (navegador), várias requisicões são disparadas. Quando acessa uma página qualquer, uma requisição pelo conteúdo dessa página é criado. Quando esse conteúdo retornar, o browser monta (renderiza) a página, mas essa página requer outros recursos como imagens, fontes, folhas de estilo (css). Para cada recurso, o navegador irá fazer uma nova requisição.
<br/><br/>

Essas requisições são compostas, principalmente, de três informações:
<ul>
    <li>URL: Endereço que irá receber a requisição;</li>
    <li>Verbo/Método: Comando que se deseja que seja feito;</li>
    <li>Corpo: Informações que enviamos, como dados de um formulário, por exemplo.</li>
</ul>

Quantos aos Verbos, existem 4 que são os mais utilizados:
<table border="1">
	<tr>
		<th>GET</th>
		<td>Usado para trazer informações</td>
	</tr>
	<tr>
		<th>POST</th>
		<td>Para criar/adicionar informações</td>
	</tr>
	<tr>
		<th>PUT</th>
		<td>Para atulizar informações</td>
	</tr>
	<tr>
		<th>DELETE</th>
		<td>Para excluir informações</td>
	</tr>			
</table>


<h3>Serviço RESTful</h3>

São serviços que possuem comportamento REST. Ou seja, usando o mesmo design, seu comportamento irá mudar de acordo com a maneira que é consumido

Por exemplo, temos a URL (endpoint) abaixo:<br>
<code>http://www.contoso.com/alunos</code>
<br><br>

Se queremos trazer a lista de alunos, basta realizamos uma requisição GET:

<pre>Request:
[GET] http://www.contoso.com/alunos
Body: empty</pre>

A resposta será algo como:

<pre>Response:
HTTP Code 200 OK
[
    { id: 1, nome: "Thiago Lunardi" },
    { id: 2, nome: "Joe Satriani"}
]</pre>

Mas, se eu quiser adicionar um novo aluno, uso o mesmo design, mas consumindo de outra forma, com requisição POST:

<pre>Request:
[POST] http://www.contoso.com/alunos
Body: { "nome: "Slash" }

HTTP Code 201 Created
{ id: 3, nome: "Slash" }

Continuando, para saber mais detalhes sobre um aluno:

Request:
[GET] http://www.contoso.com/alunos/1
Body: empty

Response:
HTTP Code 200 OK
{ 
    id: 1, 
    nome: "Thiago Lunardi",
    github: "https://github.com/ThiagoLunardi",
    website: "http://thiagolunardi.net",
    blog: "https://medium.com/@thiagolunardi",
}</pre>

Para atualizar informações de um ano, da mesma forma, usamos o mesmo design, e apenas mudamos a forma de consumir o recurso, e ele terá um comportamento diferente:

<pre>Request:
[PUT] http://www.contoso.com/alunos/1
Body: { "twitter": "@thiagolunardi13" }

Response:
HTTP Code 200 OK
{ 
    id: 1, 
    nome: "Thiago Lunardi",
    github: "https://github.com/ThiagoLunardi",
    website: "http://thiagolunardi.net",
    blog: "https://medium.com/@thiagolunardi",
    twitter: "@thiagolunardi13"
}</pre>

Para excluir:

<pre>Request:
[DELETE] http://www.contoso.com/alunos/1
Body: empty

Response:
HTTP Code 204 No Content</pre>


<a href="https://pt.stackoverflow.com/questions/45783/o-que-%C3%A9-rest-e-restful">Fonte[1]</a> 
<a href="https://becode.com.br/o-que-e-api-rest-e-restful">Fonte[2]</a> 
<a href="https://www.restapitutorial.com/lessons/httpmethods.html">Fonte[3]</a>