
<h3>Utilizar o data-attributo.</h3>
<pre>
<kbd>HTML</kbd>
&lt;div id="mydiv" data-myval="10"&gt; &lt;/div&gt; 
</pre>

<pre>
<kbd>JS</kbd>
var a = $('#mydiv').data('myval'); //CAPTURAR
$('#mydiv').data('myval',20); //SETAR
</pre>

<a href="https://stackoverflow.com/questions/13524107/how-to-set-data-attributes-in-html-elements/13524139">fonte[1]</a>