

<h3>SELETOR após o document ready estar pronto é preciso usar o evento ON; exemplo abaixo.</h3>
<pre>$(document).<strong style="color:red">on</strong>('click', '.botaoDeletar', function(){ 
	alert( $(this).attr('rel') ); 
});
</pre>


<h3>REMOVER LINK</h3>
<pre>$("a").removeAttr("href");</pre>
<a href="https://www.tutorialrepublic.com/faq/how-to-remove-attribute-from-an-html-element-in-jquery.php">Fonte</a>
