﻿
Principais eventos JQUERY. Geralmente os eventos serão utilizados dessa maneira, exemplo do evento click abaixo:<br>
<pre><code>$( "#target" ).<strong>click</strong>(function() {
  
});</code></pre>


<h3>.bind()</h3>
'Ouvindo' o elemento

<h3>.blur()</h3>
<pre><code></code></pre>

<h3>.change()</h3>
Quando há alteração no valor ou status do elemento
<pre><code></code></pre>

<h3>.click()/.dblclick()</h3>

<h3>.contextmenu()</h3>
<pre><code></code></pre>

<h3>.focus()/.focusin()/.focusin()</h3>
Serve para setar o ponteiro no elemento ou quando o focu entra/sai do elemento.

<h3>.keydown()/.keypress()/.keyup()</h3>


<h3>.off()/.on()</h3>
<pre><code></code></pre>