Uma vez com NodeJS e o NPM instalados, é necessário instalar 2 módulos globais.

<pre>$ npm install -g ionic cordova</pre>

Uma vez com esses dois módulos instalados, usaremos o gerador do Ionic CLI para criar um novo projeto.

<pre>$ ionic start appName tabs</pre>

A sintaxe para a criação de uma nova aplicação é ionic start NOME_DO_APP TIPO_DO_GENERATOR. Existem hoje 3 tipos de projeto base que são tabs, blank e sidemenu.

Cada gerador irá iniciar seu projeto de uma forma diferente porém todos seguem a mesma estrutura de pastas exibida abaixo.

A sintaxe para a criação de uma nova aplicação é ionic start NOME_DO_APP TIPO_DO_GENERATOR. Existem hoje 3 tipos de projeto base que são tabs, blank e sidemenu.

Cada gerador irá iniciar seu projeto de uma forma diferente porém todos seguem a mesma estrutura de pastas exibida abaixo.

<div style="text-align:center" class="col-lg-10">
	<img id="imagem" src="../helper/images/ionic_estrutura_01.png" style="border:1px solid black;width:80%" />
</div>

<a href="https://tableless.com.br/introducao-ao-ionic-framework/">Fonte</a>
