<h3>O que é o Ionic?</h3>

Ionic é um framework criado no final de 2013 que visa a criação de aplicações híbridas para dispositivos móveis. Hoje o Ionic encontra-se na versão 1.0.0-beta.14 que segundo a equipe por trás do desenvolvimento, será o último release beta.
<br/><br/>
Ele nada mais é do que uma pilha de componentes e outros frameworks. Estes componentes são:
<ul>
    <li>Cordova: Integração com recursos nativos dos dispositivos</li>
    <li>AngularJS: Criação da parte Web da App</li>
    <li>Ionic Module e o Ionic CLI: Ferramentas e Componentes disponibilizados pelo framework</li>
</ul>

Pré-requisitos <br><br>
Para utilizar o Ionic e desenvolvedor aplicações móveis com o Cordova é necessário ter instalado as seguintes dependências:
<br>
<ul>
    <li>NodeJS</li>
    <li>NPM</li>
</ul>

<a href="https://tableless.com.br/introducao-ao-ionic-framework/">Fonte</a>