﻿

<h3>INICIALIZANDO</h3>
<pre>var cars = []; 
var cars = new Array("Saab", "Volvo", "BMW");</pre>

<h3>ACESSANDO</h3>
<pre>var name = cars[0];</pre>

<h3>MÉTODOS</h3>
<pre> var x = cars.length;   // A propriedade length retorna o número de elementos
var y = cars.sort();   // O método sort () classifica arrays </pre>

<h3>LOOPING</h3>
<pre>var fruits, text, fLen, i;

fruits = ["Banana", "Orange", "Apple", "Mango"];
fLen = fruits.length;
text = "&#60ul&#62";
for (i = 0; i < fLen; i++) {
    text += "&#60li&#62" + fruits[i] + "&#60/ li&#62";
}</pre>

<h3>ADICIONANDO</h3>
<pre>var fruits = ["Banana", "Orange", "Apple", "Mango"];
fruits.push("Lemon");</pre>

<h3>TODOS</h3>
<pre>Possibilita testar todos os elementos do seu array. Caso algum dos elementos não passe pela condição definida por você, o retorno será false.</pre>
<pre>const beers = ['Heineken', 'San Diego', 'Coruja', 'Saint Bier'];</pre>
<pre>const ages = [20, 25, 19, 21, 42];</pre>
<code>
// ES5
function isGreaterThan(age) {
  return age >= 18;
}
const greater = ages.every(isGreaterThan);

// ES6
const isGreaterThan = (age) => age > 18;
const greater = ages.every(isGreaterThan);

console.log(greater); // true
</code>

<h3>INCLUI</h3>
<pre>Possibilita verificar se um element existe ou não no array definido.</pre>
<pre>const beers = ['Heineken', 'San Diego', 'Coruja', 'Saint Bier'];</pre>
<pre>const ages = [20, 25, 19, 21, 42];</pre>
<code>
console.log(beers.includes('Skol')); // false
> false

console.log(ages.includes(25)); // true
> true
</code>

<h3>FILTRAR</h3>
<pre>Este método possibilita a criação de filtros de forma rápida e fácil em seus arrays.</pre>
<pre>const beers = ['Heineken', 'San Diego', 'Coruja', 'Saint Bier'];</pre>
<pre>const ages = [20, 25, 19, 21, 42];</pre>
<code>
// ES5
function startWithS(word) {
  return word.indexOf('S') === 0;
}

// ES6
const startWithS = (word) => word.indexOf('S') === 0;

const beersStartWithS = beers.filter(startWithS);

console.log(beersStartWithS); // [0: 'San Diego', 1: Saint Bier]
> [0: 'San Diego', 1: Saint Bier]
</code>

<h3>PROCURAR</h3>
<pre>Faça uma busca em seu array de um ou mais elementos que se encaixam no filtro definido por você.</pre>
<pre>const beers = ['Heineken', 'San Diego', 'Coruja', 'Saint Bier'];</pre>
<pre>const ages = [20, 25, 19, 21, 42];</pre>
<code>
// ES5
function findSanDiego(element) {
  return element === 'San Diego';
}

// ES6
const findSanDiego = (element) => element === 'San Diego';

const beerSanDiego = beers.find(findSanDiego);

console.log(beerSanDiego); // 'San Diego'
> 'San Diego'
</code>

<h3>MAPEAR</h3>
<pre>Este método percorre todos os elementos do array, executando funções para cada elemento e retornando um novo array como resultado.</pre>
<pre>const beers = ['Heineken', 'San Diego', 'Coruja', 'Saint Bier'];</pre>
<pre>const ages = [20, 25, 19, 21, 42];</pre>
<code>
// ES5
function upAge(age) {
  return age + 1;
}

// ES6
const upAge = (age) => age + 1;

const newAges = ages.map(upAge);

console.log(newAges); // [0: 21, 1: 26, 2: 20, 3: 22, 4: 43]
> [0: 21, 1: 26, 2: 20, 3: 22, 4: 43]
</code>

<h3>ALGUM</h3>
<pre>Este método verifica se ao menos um elemento satisfaz a condição definida por você.</pre>
<pre>const beers = ['Heineken', 'San Diego', 'Coruja', 'Saint Bier'];</pre>
<pre>const ages = [20, 25, 19, 21, 42];</pre>
<code>
// ES5
function hasHeinekenOrSaint(beer) {
  return (beer === 'Saint Bier' || beer === 'Heineken');
}

// ES6
const hasHeinekenOrSaint = (beer) => (beer === 'Saint Bier' || beer === 'Heineken');

const heinekenSaint = beers.some(hasHeinekenOrSaint);

console.log(heinekenSaint); // true
> true
</code>

<h3>REDUZIR</h3>
<pre>Você pode utilizar o método reduce para alguns casos, sendo um deles para facilitar cálculos. .</pre>
<pre>const beers = ['Heineken', 'San Diego', 'Coruja', 'Saint Bier'];</pre>
<pre>const ages = [20, 25, 19, 21, 42];</pre>
<code>
// ES5
function reducerAge(accumulator, age) {
  return accumulator + age;
}

// ES6
const reducerAge = (accumulator, age) => accumulator + age;

const sumAges = ages.reduce(reducerAge);

console.log(sumAges); // 127
> 127
</code>