<h3>Sintaxe HTML</h3>
A sintaxe é simples. Qualquer atributo de qualquer elemento no qual o nome do atributo inicia com data- é um atributo data. Digamos que você possui um article e quer armazenar informações extras que não possuem nenhuma representação visual. Use atributos data para isso:
<pre>&lt;article
  id="electriccars"
  data-columns="3"
  data-index-number="12314"
  data-parent="cars"&gt;
...
&lt;/article&gt;	
</pre>


<h3>Acesso no JavaScript</h3>
Ler os valores destes atributos via JavaScript é muito simples também. Você pode lê-los usando getAttribute() com o nome html completo, mas a forma padrão provê uma alternativa mais simples: um DOMStringMap pode ser lido através da propriedade dataset.

Para obter o atributo data através do objeto dataset, acesse a propriedade utilizando a parte do nome do atributo após o prefixo data- (note que o hífen é convertido para camelCase).

<pre>
var article = document.getElementById('electriccars');
 
article.dataset.columns // "3"
article.dataset.indexNumber // "12314"
article.dataset.parent // "cars"
</pre>
Cada propriedade é uma String e pode ser lida e escrita. No exemplo acima a atribuição article.dataset.columns = 5 iria alterar esse atributo para "5".


<h3>Acesso no CSS</h3>
Note que os atributos data são atributos em HTML puro, e você pode inclusive acessá-los via CSS. Por exemplo, para mostrar o elemento pai em um artigo, você pode usar conteúdo gerado em CSS com a função attr:
<pre>article::before {
  content: attr(data-parent);
}</pre>
Pode-se também usar os seletores de atributos em CSS para alterar estilos de acordo com o atributo data:
<pre>article[data-columns='3'] {
  width: 400px;
}
article[data-columns='4'] {
  width: 600px;
}</pre>

<a href="https://developer.mozilla.org/pt-BR/docs/Web/Guide/HTML/Using_data_attributes">Fonte</a>