
<pre>document.getElementById("myDIV")<b>.classList.add("mystyle")</b>;</pre>

<h2>REMOVE CLASS</h2>
<pre>document.getElementById("myDIV")<b>.classList.remove("mystyle")</b></pre>

<a href="https://www.w3schools.com/howto/howto_js_add_class.asp">w3schools</a>