<style>
  #listaCSS tr th{ text-align:center ;} 
  #listaCSS tr td:first-child { text-align:right; font-weight: bold;padding-right: 10px} 
  #listaCSS .categoria { text-align:center !important; font-weight: bold;padding: 10px;font-size:16pt !important;} 
</style>

<h3>Guia de Estilos em JS</h3>

<table id="listaCSS">
  <tbody><tr>
    <th>PROPRIEDADE</th>
    <th>DESCRICAO</th>
    <th>CSS</th>
  </tr>
  <tr>
    <td>alignContent</td>
    <td>Sets or returns the alignment between the lines inside a flexible container when the items do not use all available space</td>
    <td>3</td>
  </tr>
  <tr>
    <td>alignItems</td>
    <td>Sets or returns the alignment for items inside a flexible container</td>
    <td>3</td>
  </tr>
  <tr>
    <td>alignSelf</td>
    <td>Sets or returns the alignment for selected items inside a flexible container</td>
    <td>3</td>
  </tr>
  <tr>
    <td>animation</td>
    <td>A shorthand property for all the animation properties below, except the animationPlayState property</td>
    <td>3</td>
  </tr>
    <tr>
    <td>animationDelay</td>
    <td>Sets or returns when the animation will start</td>
    <td>3</td>
    </tr>
    <tr>
    <td>animationDirection</td>
    <td>Sets or returns whether or not the animation should play in reverse on alternate cycles</td>
    <td>3</td>
    </tr>
  <tr>
    <td>animationDuration</td>
    <td>Sets or returns how many seconds or milliseconds an animation takes to complete one cycle</td>
    <td>3</td>
    </tr>
  <tr>
    <td>animationFillMode</td>
    <td>Sets or returns what values are applied by the animation outside the time it is executing</td>
    <td>3</td>
    </tr>
  <tr>
    <td>animationIterationCount</td>
    <td>Sets or returns the number of times an animation should be played</td>
    <td>3</td>
    </tr>
  <tr>
    <td>animationName</td>
    <td>Sets or returns a name for the @keyframes animation</td>
    <td>3</td>
  </tr>
  <tr>
    <td>animationTimingFunction</td>
    <td>Sets or returns the speed curve of the animation</td>
    <td>3</td>
  </tr>
  <tr>
    <td>animationPlayState</td>
    <td>Sets or returns whether the animation is running or paused</td>
    <td>3</td>
  </tr>
  <tr>
      <td colspan="3" class="categoria">BACKGROUND</td>
  </tr>

  <tr>
    <td>background</td>
    <td>Sets or returns all the background properties in one declaration</td>
    <td>1</td>
  </tr>
  <tr>
    <td>backgroundAttachment</td>
    <td>Sets or returns whether a background-image is fixed or scrolls with the page</td>
    <td>1</td>
  </tr>
  <tr>
    <td>backgroundColor</td>
    <td>Sets or returns the background-color of an element</td>
    <td>1</td>
  </tr>
  <tr>
    <td>backgroundImage</td>
    <td>Sets or returns the background-image for an element</td>
    <td>1</td>
  </tr>
  <tr>
    <td>backgroundPosition</td>
    <td>Sets or returns the starting position of a background-image</td>
    <td>1</td>
  </tr>
  <tr>
    <td>backgroundRepeat</td>
    <td>Sets or returns how to repeat (tile) a background-image</td>
    <td>1</td>
  </tr>
  <tr>
    <td>backgroundClip</td>
    <td>Sets or returns the painting area of the background</td>
    <td>3</td>
  </tr>
  <tr>
    <td>backgroundOrigin</td>
    <td>Sets or returns the positioning area of the background images</td>
    <td>3</td>
  </tr>
  <tr>
    <td>backgroundSize</td>
    <td>Sets or returns the size of the background image</td>
    <td>3</td>
  </tr>
  <tr>
    <td>backfaceVisibility</td>
    <td>Sets or returns whether or not an element should be visible when not facing the screen</td>
    <td>3</td>
  </tr>
  <tr>
      <td colspan="3" class="categoria">BORDER</td>
  </tr>
  <tr>
    <td>border</td>
    <td>Sets or returns borderWidth, borderStyle, and borderColor in one declaration</td>
    <td>1</td>
  </tr>
  <tr>
    <td>borderBottom</td>
    <td>Sets or returns all the borderBottom* properties in one declaration</td>
    <td>1</td>
  </tr>
  <tr>
    <td>borderBottomColor</td>
    <td>Sets or returns the color of the bottom border</td>
    <td>1</td>
  </tr>
  <tr>
    <td>borderBottomLeftRadius</td>
    <td>Sets or returns the shape of the border of the bottom-left corner</td>
    <td>3</td>
  </tr>
  <tr>
    <td>borderBottomRightRadius</td>
    <td>Sets or returns the shape of the border of the bottom-right corner</td>
    <td>3</td>
  </tr>
  <tr>
    <td>borderBottomStyle</td>
    <td>Sets or returns the style of the bottom border</td>
    <td>1</td>
  </tr>
  <tr>
    <td>borderBottomWidth</td>
    <td>Sets or returns the width of the bottom border</td>
    <td>1</td>
  </tr>
  <tr>
    <td>borderCollapse</td>
    <td>Sets or returns whether the table border should be collapsed into a single border, or not</td>
    <td>2</td>
  </tr>
  <tr>
    <td>borderColor</td>
    <td>Sets or returns the color of an element's border (can have up to four values)</td>
    <td>1</td>
  </tr>
  <tr>
    <td>borderImage</td>
    <td>A shorthand property for setting or returning all the borderImage* properties</td>
    <td>3</td>
  </tr>
  <tr>
    <td>borderImageOutset</td>
    <td>Sets or returns the amount by which the border image area extends beyond the border box</td>
    <td>3</td>
  </tr>
  <tr>
    <td>borderImageRepeat</td>
    <td>Sets or returns whether the image-border should be repeated, rounded or stretched</td>
    <td>3</td>
  </tr>
  <tr>
    <td>borderImageSlice</td>
    <td>Sets or returns the inward offsets of the image-border</td>
    <td>3</td>
  </tr>
  <tr>
    <td>borderImageSource</td>
    <td>Sets or returns the image to be used as a border</td>
    <td>3</td>
  </tr>
  <tr>
    <td>borderImageWidth</td>
    <td>Sets or returns the widths of the image-border</td>
    <td>3</td>
  </tr>
  <tr>
    <td>borderLeft</td>
    <td>Sets or returns all the borderLeft* properties in one declaration</td>
    <td>1</td>
  </tr>
  <tr>
    <td>borderLeftColor</td>
    <td>Sets or returns the color of the left border</td>
    <td>1</td>
  </tr>
  <tr>
    <td>borderLeftStyle</td>
    <td>Sets or returns the style of the left border</td>
    <td>1</td>
  </tr>
  <tr>
    <td>borderLeftWidth</td>
    <td>Sets or returns the width of the left border</td>
    <td>1</td>
  </tr>
  <tr>
    <td>borderRadius</td>
    <td>A shorthand property for setting or returning all the four border*Radius properties</td>
    <td>3</td>
  </tr>
  <tr>
    <td>borderRight</td>
    <td>Sets or returns all the borderRight* properties in one declaration</td>
    <td>1</td>
  </tr>
  <tr>
    <td>borderRightColor</td>
    <td>Sets or returns the color of the right border</td>
    <td>1</td>
  </tr>
  <tr>
    <td>borderRightStyle</td>
    <td>Sets or returns the style of the right border</td>
    <td>1</td>
  </tr>
  <tr>
    <td>borderRightWidth</td>
    <td>Sets or returns the width of the right border</td>
    <td>1</td>
  </tr>
  <tr>
    <td>borderSpacing</td>
    <td>Sets or returns the space between cells in a table</td>
    <td>2</td>
  </tr>
  <tr>
    <td>borderStyle</td>
    <td>Sets or returns the style of an element's border (can have up to four values)</td>
    <td>1</td>
  </tr>
  <tr>
    <td>borderTop</td>
    <td>Sets or returns all the borderTop* properties in one declaration</td>
    <td>1</td>
  </tr>
  <tr>
    <td>borderTopColor</td>
    <td>Sets or returns the color of the top border</td>
    <td>1</td>
  </tr>
  <tr>
    <td>borderTopLeftRadius</td>
    <td>Sets or returns the shape of the border of the top-left corner</td>
    <td>3</td>
  </tr>
  <tr>
    <td>borderTopRightRadius</td>
    <td>Sets or returns the shape of the border of the top-right corner</td>
    <td>3</td>
  </tr>
  <tr>
    <td>borderTopStyle</td>
    <td>Sets or returns the style of the top border</td>
    <td>1</td>
  </tr>
  <tr>
    <td>borderTopWidth</td>
    <td>Sets or returns the width of the top border</td>
    <td>1</td>
  </tr>
  <tr>
    <td>borderWidth</td>
    <td>Sets or returns the width of an element's border (can have up to four values)</td>
    <td>1</td>
  </tr>

  <tr>
      <td colspan="3" class="categoria">---</td>
  </tr>

  <tr>
    <td>bottom</td>
    <td>Sets or returns the bottom position of a positioned element</td>
    <td>2</td>
  </tr>
  <tr>
    <td>boxDecorationBreak</td>
    <td>Sets or returns the behaviour of the background and border of an element at page-break, or, for  in-line elements, at line-break.</td>
    <td>3</td>
  </tr>
  <tr>
    <td>boxShadow</td>
    <td>Attaches one or more drop-shadows to the box</td>
    <td>3</td>
  </tr>
  <tr>
    <td>boxSizing</td>
    <td>Allows you to define certain elements to fit an area in a certain way</td>
    <td>3</td>
  </tr>
  <tr>
    <td>captionSide</td>
    <td>Sets or returns the position of the table caption</td>
    <td>2</td>
  </tr>
  <tr>
    <td>clear</td>
    <td>Sets or returns the position of the element relative to floating objects</td>
    <td>1</td>
  </tr>
  <tr>
    <td>clip</td>
    <td>Sets or returns which part of a positioned element is visible</td>
    <td>2</td>
  </tr>
  <tr>
    <td>color</td>
    <td>Sets or returns the color of the text</td>
    <td>1</td>
  </tr>
  <tr>
    <td>columnCount</td>
    <td>Sets or returns the number of columns an element should be divided into</td>
    <td>3</td>
  </tr>
  <tr>
    <td>columnFill</td>
    <td>Sets or returns how to fill columns</td>
    <td>3</td>
  </tr>
  <tr>
    <td>columnGap</td>
    <td>Sets or returns the gap between the columns</td>
    <td>3</td>
  </tr>
  <tr>
    <td>columnRule</td>
    <td>A shorthand property for setting or returning all the columnRule* properties</td>
    <td>3</td>
  </tr>
  <tr>
    <td>columnRuleColor</td>
    <td>Sets or returns the color of the rule between columns</td>
    <td>3</td>
  </tr>
  <tr>
    <td>columnRuleStyle</td>
    <td>Sets or returns the style of the rule between columns</td>
    <td>3</td>
  </tr>
  <tr>
    <td>columnRuleWidth</td>
    <td>Sets or returns the width of the rule between columns</td>
    <td>3</td>
  </tr>
  <tr>
    <td>columns</td>
    <td>A shorthand property for setting or returning columnWidth and columnCount</td>
    <td>3</td>
  </tr>  
  <tr>
    <td>columnSpan</td>
    <td>Sets or returns how many columns an element should span across</td>
    <td>3</td>
  </tr>
  <tr>
    <td>columnWidth</td>
    <td>Sets or returns the width of the columns</td>
    <td>3</td>
  </tr>
  <tr>
    <td>content</td>
    <td>Used with the :before and :after pseudo-elements, to insert generated content</td>
    <td>2</td>
  </tr>  
  <tr>
    <td>counterIncrement</td>
    <td>Increments one or more counters</td>
    <td>2</td>
  </tr>
  <tr>
    <td>counterReset</td>
    <td>Creates or resets one or more counters</td>
    <td>2</td>
  </tr>
  <tr>
    <td>cursor</td>
    <td>Sets or returns the type of cursor to display for the mouse pointer</td>
    <td>2</td>
  </tr>
  <tr>
    <td>direction</td>
    <td>Sets or returns the text direction</td>
    <td>2</td>
  </tr>
  <tr>
    <td>display</td>
    <td>Sets or returns an element's display type</td>
    <td>1</td>
  </tr>
  <tr>
    <td>emptyCells</td>
    <td>Sets or returns whether to show the border and background of empty cells, or not</td>
    <td>2</td>
  </tr>
  <tr>
    <td>filter</td>
    <td>Sets or returns image filters (visual effects, like blur and saturation)</td>
    <td>3</td>
  </tr>
  <tr>
    <td>flex</td>
    <td>Sets or returns the length of the item, relative to the rest</td>
    <td>3</td>
  </tr>
  <tr>
    <td>flexBasis</td>
    <td>Sets or returns the initial length of a flexible item</td>
    <td>3</td>
  </tr>
  <tr>
    <td>flexDirection</td>
    <td>Sets or returns the direction of the flexible items</td>
    <td>3</td>
  </tr>
  <tr>
    <td>flexFlow</td>
    <td>A shorthand property for the flexDirection and the flexWrap properties</td>
    <td>3</td>
  </tr>
  <tr>
    <td>flexGrow</td>
    <td>Sets or returns how much the item will grow relative to the rest</td>
    <td>3</td>
  </tr>
  <tr>
    <td>flexShrink</td>
    <td>Sets or returns how the item will shrink relative to the rest</td>
    <td>3</td>
  </tr>
  <tr>
    <td>flexWrap</td>
    <td>Sets or returns whether the flexible items should wrap or not</td>
    <td>3</td>
  </tr>
  <tr>
    <td>cssFloat</td>
    <td>Sets or returns the horizontal alignment of an element</td>
    <td>1</td>
  </tr>

  <tr>
      <td colspan="3" class="categoria">FONT</td>
  </tr>

  <tr>
    <td>font</td>
    <td>Sets or returns fontStyle, fontVariant, fontWeight, fontSize, lineHeight, and fontFamily in one declaration</td>
    <td>1</td>
  </tr>
  <tr>
    <td>fontFamily</td>
    <td>Sets or returns the font family for text</td>
    <td>1</td>
  </tr>
  <tr>
    <td>fontSize</td>
    <td>Sets or returns the font size of the text</td>
    <td>1</td>
  </tr>
  <tr>
    <td>fontStyle</td>
    <td>Sets or returns whether the style of the font is normal, italic or oblique</td>
    <td>1</td>
  </tr>
  <tr>
    <td>fontVariant</td>
    <td>Sets or returns whether the font should be displayed in small capital letters</td>
    <td>1</td>
  </tr>
  <tr>
    <td>fontWeight</td>
    <td>Sets or returns the boldness of the font</td>
    <td>1</td>
  </tr>
  <tr>
    <td>fontSizeAdjust</td>
    <td>Preserves the readability of text when font fallback occurs</td>
    <td>3</td>
  </tr>
  <tr>
    <td>fontStretch</td>
    <td>Selects a normal, condensed, or expanded face from a font family</td>
    <td>3</td>
  </tr>
  <tr>
      <td colspan="3" class="categoria">---</td>
  </tr>  
  <tr>
    <td>hangingPunctuation</td>
    <td>Specifies whether a punctuation character may be placed outside the line box</td>
    <td>3</td>
  </tr>
  <tr>
    <td>height</td>
    <td>Sets or returns the height of an element</td>
    <td>1</td>
  </tr>
  <tr>
    <td>hyphens</td>
    <td>Sets how to split words to improve the layout of paragraphs</td>
    <td>3</td>
  </tr>
  <tr>
    <td>icon</td>
    <td>Provides the author the ability to style an element with an iconic equivalent</td>
    <td>3</td>
  </tr>  
  <tr>
    <td>imageOrientation</td>
    <td>Specifies a rotation in the right or clockwise direction that a user agent applies to an image</td>
    <td>3</td>
  </tr>
  <tr>
    <td>isolation</td>
    <td>Defines whether an element must create a new stacking content</td>
    <td>3</td>
  </tr>  

  <tr>
    <td>justifyContent</td>
    <td>Sets or returns the alignment between the items inside a flexible container when the items do not use all available space.</td>
    <td>3</td>
  </tr>  
  <tr>
    <td>left</td>
    <td>Sets or returns the left position of a positioned element</td>
    <td>2</td>
  </tr>
  <tr>
    <td>letterSpacing</td>
    <td>Sets or returns the space between characters in a text</td>
    <td>1</td>
  </tr>

  <tr>
    <td>lineHeight</td>
    <td>Sets or returns the distance between lines in a text</td>
    <td>1</td>
  </tr>
  <tr>
    <td>listStyle</td>
    <td>Sets or returns listStyleImage, listStylePosition, and listStyleType in one declaration</td>
    <td>1</td>
  </tr>
  <tr>
    <td>listStyleImage</td>
    <td>Sets or returns an image as the list-item marker</td>
    <td>1</td>
  </tr>
  <tr>
    <td>listStylePosition</td>
    <td>Sets or returns the position of the list-item marker</td>
    <td>1</td>
  </tr>
  <tr>
    <td>listStyleType</td>
    <td>Sets or returns the list-item marker type</td>
    <td>1</td>
  </tr>  
  <tr>
    <td>margin</td>
    <td>Sets or returns the margins of an element (can have up to four values)</td>
    <td>1</td>
  </tr>
  <tr>
    <td>marginBottom</td>
    <td>Sets or returns the bottom margin of an element</td>
    <td>1</td>
  </tr>
  <tr>
    <td>marginLeft</td>
    <td>Sets or returns the left margin of an element</td>
    <td>1</td>
  </tr>
  <tr>
    <td>marginRight</td>
    <td>Sets or returns the right margin of an element</td>
    <td>1</td>
  </tr>
  <tr>
    <td>marginTop</td>
    <td>Sets or returns the top margin of an element</td>
    <td>1</td>
  </tr>

  <tr>
    <td>maxHeight</td>
    <td>Sets or returns the maximum height of an element</td>
    <td>2</td>
  </tr>
  <tr>
    <td>maxWidth</td>
    <td>Sets or returns the maximum width of an element</td>
    <td>2</td>
  </tr>
  <tr>
    <td>minHeight</td>
    <td>Sets or returns the minimum height of an element</td>
    <td>2</td>
  </tr>
  <tr>
    <td>minWidth</td>
    <td>Sets or returns the minimum width of an element</td>
    <td>2</td>
  </tr>
  <tr>
    <td>navDown</td>
    <td>Sets or returns where to navigate when using the arrow-down navigation key</td>
    <td>3</td>
  </tr>
  <tr>
    <td>navIndex</td>
    <td>Sets or returns the tabbing order for an element</td>
    <td>3</td>
  </tr>
  <tr>
    <td>navLeft</td>
    <td>Sets or returns where to navigate when using the arrow-left navigation key</td>
    <td>3</td>
  </tr>
  <tr>
    <td>navRight</td>
    <td>Sets or returns where to navigate when using the arrow-right navigation key</td>
    <td>3</td>
  </tr>
  <tr>
    <td>navUp</td>
    <td>Sets or returns where to navigate when using the arrow-up navigation key</td>
    <td>3</td>
  </tr>
  <tr>
    <td>objectFit</td>
    <td>  Specifies how the contents of a replaced element should be fitted to the box established by its used height and width</td>
    <td>3</td>
  </tr>
  <tr>
    <td>objectPosition</td>
    <td>Specifies the alignment of the replaced element inside its box</td>
    <td>3</td>
  </tr>
  <tr>
    <td>opacity</td>
    <td>Sets or returns the opacity level for an element</td>
    <td>3</td>
  </tr>
  <tr>
    <td>order</td>
    <td>Sets or returns the order of the flexible item, relative to the rest</td>
    <td>3</td>
  </tr>    
  <tr>
    <td>orphans</td>
    <td>Sets or returns the minimum number of lines for an element that must be left at the bottom of a page when a page break occurs inside an element</td>
    <td>2</td>
  </tr>
  <tr>
    <td>outline</td>
    <td>Sets or returns all the outline properties in one declaration</td>
    <td>2</td>
  </tr>
  <tr>
    <td>outlineColor</td>
    <td>Sets or returns the color of the outline around a element</td>
    <td>2</td>
  </tr>
  <tr>
    <td>outlineOffset</td>
    <td>Offsets an outline, and draws it beyond the border edge</td>
    <td>3</td>
  </tr>
  <tr>
    <td>outlineStyle</td>
    <td>Sets or returns the style of the outline around an element</td>
    <td>2</td>
  </tr>
  <tr>
    <td>outlineWidth</td>
    <td>Sets or returns the width of the outline around an element</td>
    <td>2</td>
  </tr>
  <tr>
    <td>overflow</td>
    <td>Sets or returns what to do with content that renders outside the element box</td>
    <td>2</td>
  </tr>

  <tr>
    <td>overflowX</td>
    <td>Specifies what to do with the left/right edges of the content, if it overflows the element's content area</td>
    <td>3</td>
  </tr>
  <tr>
    <td>overflowY</td>
    <td>Specifies what to do with the top/bottom edges of the content, if it overflows the element's content area</td>
    <td>3</td>
  </tr>
  <tr>
    <td>padding</td>
    <td>Sets or returns the padding of an element (can have up to four values)</td>
    <td>1</td>
  </tr>
  <tr>
    <td>paddingBottom</td>
    <td>Sets or returns the bottom padding of an element</td>
    <td>1</td>
  </tr>
  <tr>
    <td>paddingLeft</td>
    <td>Sets or returns the left padding of an element</td>
    <td>1</td>
  </tr>
  <tr>
    <td>paddingRight</td>
    <td>Sets or returns the right padding of an element</td>
    <td>1</td>
  </tr>
  <tr>
    <td>paddingTop</td>
    <td>Sets or returns the top padding of an element</td>
    <td>1</td>
  </tr>
  <tr>
    <td>pageBreakAfter</td>
    <td>Sets or returns the page-break behavior after an element</td>
    <td>2</td>
  </tr>
  <tr>
    <td>pageBreakBefore</td>
    <td>Sets or returns the page-break behavior before an element</td>
    <td>2</td>
  </tr>
  <tr>
    <td>pageBreakInside</td>
    <td>Sets or returns the page-break behavior inside an element</td>
    <td>2</td>
  </tr>
  <tr>
    <td>perspective</td>
    <td>Sets or returns the perspective on how 3D elements are viewed</td>
    <td>3</td>
  </tr>
  <tr>
    <td>perspectiveOrigin</td>
    <td>Sets or returns the bottom position of 3D elements</td>
    <td>3</td>
  </tr>

  <tr>
    <td>position</td>
    <td>Sets or returns the type of positioning method used for an element (static, relative, absolute or fixed)</td>
    <td>2</td>
  </tr>  
  <tr>
    <td>quotes</td>
    <td>Sets or returns the type of quotation marks for embedded quotations</td>
    <td>2</td>
  </tr>
  <tr>
    <td>resize</td>
    <td>Sets or returns whether or not an element is resizable by the user</td>
    <td>3</td>
  </tr>

  <tr>
    <td>right</td>
    <td>Sets or returns the right position of a positioned element</td>
    <td>2</td>
  </tr>
  <tr>
    <td>tableLayout</td>
    <td>Sets or returns the way to lay out table cells, rows, and columns</td>
    <td>2</td>
  </tr>
  <tr>
    <td>tabSize</td>
    <td>Sets or returns the length of the tab-character</td>
    <td>3</td>
  </tr>  

  <tr>
      <td colspan="3" class="categoria">TEXTO</td>
  </tr>

  <tr>
    <td>textAlign</td>
    <td>Sets or returns the horizontal alignment of text</td>
    <td>1</td>
  </tr>
  <tr>
    <td>textAlignLast</td>
    <td>Sets or returns how the last line of a block or a line right before a forced line break is aligned when text-align is "justify"</td>
    <td>3</td>
  </tr> 
  <tr>
    <td>textDecoration</td>
    <td>Sets or returns the decoration of a text</td>
    <td>1</td>
  </tr>
  <tr>
    <td>textDecorationColor</td>
    <td>Sets or returns the color of the text-decoration</td>
    <td>3</td>
  </tr>
  <tr>
    <td>textDecorationLine</td>
    <td>Sets or returns the type of line in a text-decoration</td>
    <td>3</td>
  </tr>
  <tr>
    <td>textDecorationStyle</td>
    <td>Sets or returns the style of the line in a text decoration</td>
    <td>3</td>
  </tr>
  <tr>
    <td>textIndent</td>
    <td>Sets or returns the indentation of the first line of text</td>
    <td>1</td>
  </tr>
  <tr>
    <td>textJustify</td>
    <td>Sets or returns the justification method used when text-align is "justify"</td>
    <td>3</td>
  </tr>

  <tr>
    <td>textOverflow</td>
    <td>Sets or returns what should happen when text overflows the containing element</td>
    <td>3</td>
  </tr> 
  <tr>
    <td>textShadow</td>
    <td>Sets or returns the shadow effect of a text</td>
    <td>3</td>
  </tr>
  <tr>
    <td>textTransform</td>
    <td>Sets or returns the capitalization of a text</td>
    <td>1</td>
  </tr>

  <tr>
      <td colspan="3" class="categoria"> --- </td>
  </tr>

  <tr>
    <td>top</td>
    <td>Sets or returns the top position of a positioned element</td>
    <td>2</td>
  </tr>
  <tr>
    <td>transform</td>
    <td>Applies a 2D or 3D transformation to an element</td>
    <td>3</td>
  </tr>
  <tr>
    <td>transformOrigin</td>
    <td>Sets or returns the position of transformed elements</td>
    <td>3</td>
  </tr>
  <tr>
    <td>transformStyle</td>
    <td>Sets or returns how nested elements are rendered in 3D space</td>
    <td>3</td>
  </tr>
  <tr>
    <td>transition</td>
    <td>A shorthand property for setting or returning the four transition properties</td>
    <td>3</td>
  </tr>
  <tr>
    <td>transitionProperty</td>
    <td>Sets or returns the CSS property that the transition effect is for</td>
    <td>3</td>
  </tr>
  <tr>
    <td>transitionDuration</td>
    <td>Sets or returns how many seconds or milliseconds a transition effect takes to complete</td>
    <td>3</td>
  </tr>
  <tr>
    <td>transitionTimingFunction</td>
    <td>Sets or returns the speed curve of the transition effect</td>
    <td>3</td>
  </tr>
  <tr>
    <td>transitionDelay</td>
    <td>Sets or returns when the transition effect will start</td>
    <td>3</td>
  </tr>
  <tr>
    <td>unicodeBidi</td>
    <td>Sets or returns whether the text should be overridden to support multiple languages in the same document</td>
    <td>2</td>
  </tr>
  <tr>
    <td>userSelect</td>
    <td>Sets or returns whether the text of an element can be selected or not</td>
    <td>2</td>
  </tr>
  <tr>
    <td>verticalAlign</td>
    <td>Sets or returns the vertical alignment of the content in an element</td>
    <td>1</td>
  </tr>    
  <tr>
    <td>visibility</td>
    <td>Sets or returns whether an element should be visible</td>
    <td>2</td>
  </tr>

  <tr>
    <td>whiteSpace</td>
    <td>Sets or returns how to handle tabs, line breaks and whitespace in a text</td>
    <td>1</td>
  </tr>  
  <tr>
    <td>width</td>
    <td>Sets or returns the width of an element</td>
    <td>1</td>
  </tr>
  <tr>
    <td>wordBreak</td>
    <td>Sets or returns line breaking rules for non-CJK scripts</td>
    <td>3</td>
  </tr>
  <tr>
    <td>wordSpacing</td>
    <td>Sets or returns the spacing between words in a text</td>
    <td>1</td>
  </tr>
  <tr>
    <td>wordWrap</td>
    <td>Allows long, unbreakable words to be broken and wrap to the next line</td>
    <td>3</td>
  </tr>
  <tr>
    <td>widows</td>
    <td>Sets or returns the minimum number of lines for an element that must be visible at the top of a page</td>
    <td>2</td>
  </tr>

  <tr>
    <td>zIndex</td>
    <td>Sets or returns the stack order of a positioned element</td>
    <td>2</td>
  </tr>
</tbody></table>

Fonte: <a href="https://www.w3schools.com/jsref/dom_obj_style.asp">w3schools</a>