

<h3>FOR</h3>
<pre>
var cars = ["BMW", "Volvo", "Saab", "Ford", "Fiat", "Audi"];
var text = "";
var i;
for (i = 0; i < cars.length; i++) {
    text += cars[i];d
}   
</pre>

<h3>For/In</h3>
<pre>
var person = {fname:"John", lname:"Doe", age:25};

var text = "";
var x;
for (x in person) {
    text += person[x];
} 
</pre>

<h3>Do/While</h3>
<pre>
var cars = ["BMW", "Volvo", "Saab", "Ford"];
var i = 0;
var text = "";

while (cars[i]) {
    text += cars[i];
    i++;
}
</pre>