<ol>
	<li>document.getElementById</li>
	<li>document.getElementsByClassName</li>
	<li>document.getElementsByName</li>
	<li>document.getElementsByTagName</li>
	<li>document.querySelector</li>
	<li>document.querySelectorAll</li>
</ol>

<h3>ID</h3>
<pre>document.getElementById("demo");</pre>

<pre>
var x = document.getElementById("demo");
x.style.color = "red";  	
</pre>


<h3>CLASSE</h3>
<pre>var x = document.getElementsByClassName("example");</pre>

<pre>
var x = document.getElementsByClassName("example");
var i;
for (i = 0; i < x.length; i++) {
    x[i].style.backgroundColor = "red";
} 	
</pre>


<h3>NOME</h3>
<pre>var x = document.getElementsByName("fname");</pre>

<pre>var x = document.getElementsByName("animal");
for(var i = 0; i < x.length; i++) {
    if (x[i].type == "checkbox") {
        x[i].checked = true;
    }
} </pre>

<h3>SELETOR</h3>
<pre>
<kbd>querySelectorAll</kbd>
	var x = querySelectorAll("animal");

<kbd>querySelector</kbd>
	var x = querySelector("animal");	
</pre>

<pre>
var x = document.getElementsByName("animal");
var i;
for (i = 0; i < x.length; i++) {
    if (x[i].type == "checkbox") {
        x[i].checked = true;
    }
} 	
</pre>


<h3>VALIDAR RADIO/CHECKBOX</h3>
<pre><kbd>HTML</kbd>

<kbd>JS</kbd>
var valor = document.querySelector("input[name=tipo_contrato]:checked").value 
</pre>

<h3>VALIDAR RADIO/CHECKBOX</h3>
<pre><kbd>HTML</kbd>
&lt;label&gt;&lt;input type="radio" value="0" name="flag"&gt;NAO&lt;/label&gt;
&lt;label&gt;&lt;input type="radio" value="1" name="flag"&gt;SIM&lt;/label&gt;
<kbd>JS</kbd>
var valor = document.querySelector("input[name=tipo_contrato]:checked").value 
</pre>

<code>Exemplo</code>
<table border=1>
	<tr>
		<td><label><input type="radio" value="0" name="flag" onclick="testeSeletor()">NAO</label></td>
		<td><label><input type="radio" value="1" name="flag" onclick="testeSeletor()">SIM</label></td>
	</tr>
	<tr>
		<td>VALOR É: </td>
		<td id="valorSeletor"></td>
	</tr>	
</table>
<script>
	function testeSeletor(){
		var valor = document.querySelector("input[name=flag]:checked").value;
		document.getElementById("valorSeletor").innerHTML=valor;
	}
</script>

<br clear="all"><br clear="all">

<a href="https://blog.schoolofnet.com/2018/10/como-parar-de-usar-o-jquery/">Fonte</a>