<h3>Ouvindo/bind o Elemento</h3>

<pre>
	<code>OUVINDO elementos com a classe mascaraHorario</code>
    var elementos = document.querySelectorAll(".mascaraHorario");
    for (var i = 0; i < elementos.length; i++) {
    	<code>evento de teclado keyup</code>
        elementos[i].addEventListener('keyup', function (event) {
        	<code>acao desejada aqui dentro</code>
        });
    }	
</pre>	