Após a instalação iremos setar alguns dados, é necessário criar o arquivo package.json , o arquivo pode ser criado de duas maneiras:
<pre>$ npm init -
ou
$ code package.json</pre>
Qualquer uma das formas irá criar o arquivo citado, ele é um arquivo de configuração do nodeJS, onde estarão as dependências do projeto, sendo o cypress uma delas. É importante preencher alguns campos do package.json para efeitos de organização. 
<br><br>

É recomendado preencher os campos de name, version (versão atual do sistema), repository (se existir), author e o description para efeitos de organização e até mesmo documentação.
Agora no terminal execute o seguinte comando:
<br><br>

<pre>$ npm install  --save-dev cypress</pre>
Esse comando instalará o cypress como uma dependência de desenvolvimento, por isso o uso do comando --save-dev, por se tratar uma ferramenta que será utilizada apenas no desenvolvimento do sistema.
<br><br>

By: <b style="color:red">Jorge Titoneli Pinto Filho</b>
<br><br>
