

Alteraremos a linha <b>test</b>
<pre>"scripts": {
    "test": "cypress open"
  },
</pre>

<pre>$ npm test</pre>

Após a instalacao , executar o <b>Cypress</b>
<pre>$ cypress open</pre>

<h3>2º ARMAZENAMENTO DOS TESTES</h3>
São dos arquivos importantantissimos para que o teste funcione , <b>commands.js</b> e o segundo o nome que <b>VOCE ESCOLHER</b>

<h4>cypress\support\commands.js</h4>
Local onde ficam armazenados o modo e local de acesso ao(s) sistema(s), exemplo abaixo:


<h4>cypress\integration\01\NOME_DO_TESTE.JS</h4>
É recomendável que cria uma pasta para isolarmos nossos testes de outros testes, no exemplo, criamos a pasta <b>01</b>


<!-- <h3>2º Armazenamento</h3>
Para armazenar os testes, deve ser posto na pasta <b>cypress</b> e com a extensão <b>.spec.js</b>
-->