<h3>Atualizar <b>NPM</b></h3>
Verificando a versão:
<pre>$ npm -v</pre>
RETORNO: <code>4.4.2</code>
<pre>$ npm i -g npm</pre>
RETORNO: <code>6.4.1</code>

<h3>1º Instalar o Cypress (GLOBALMENTE)</h3>
<pre>$ npm install -g cypress </pre>

<pre>$ npm install</pre>

<code>OBSERVACAO</code> para <b>DESINSTALAR o CYPRESS GLOBALMENTE</b>
<pre>$ npm uninstall -g cypress</pre>