Cypress é uma ferramenta de teste, criada para a web moderna. Aborda os principais pontos problemáticos que desenvolvedores e engenheiros de QA enfrentam ao testar aplicativos modernos.
<br/><br/>

Simplificamos:
<ul>
    <li>Configurar testes</li>
    <li>Escrever testes</li>
    <li>Executar testes</li>
    <li>Testes de depuração</li>
</ul>

Cypress é mais frequentemente comparado ao selênio; no entanto Cypress é fundamentalmente e arquitetonicamente diferente. Cypress não é restringido pelas mesmas restrições que o selênio.
<br/>
Isso permite que você escreva testes mais rápidos, fáceis e confiáveis.Cypress permite que você escreva todos os tipos de testes:
<br/>
<ul>
    <li>Testes de ponta a ponta</li>
    <li>Testes de integração</li>
    <li>Testes unitários</li>
</ul>
<br/><br/>
Cypress pode testar tudo o que é executado em um navegador.