﻿
<h3>CRIAR Branch novo</h3>
<pre><code>$ git checkout -b <strong>nome_branch</strong></code></pre>

<h3>RETORNAR para o Branch MASTER</h3>
<pre><code>$ git checkout master</code></pre>

<h3>REMOVER o Branch</h3>
-D maisculo funciona como o -force, deleta mesmo com erros.<BR/>
-d minusculo se tiver erros nao deleta
<pre><code>$ git branch -D <strong>nome_branch</strong></code></pre>

<h3>ALTERAR o nome do Branch</h3>
<pre><code>$ git branch -m <strong>nome_atual nome_novo</strong></code></pre>

<h3>LISTAR Branchs</h3>
<pre><code>$ git branch</code></pre>

<h3>ENVIAR o Branch</h3>
<pre><code>$ git push origin <strong>nome_branch</strong></code></pre>
