﻿

<h3>Historico com os últimos comandos executados</h3>
<pre>$ history | grep -i 'git' </pre>

<h3>Adicionar todos os arquivos ao commit</h3> 
<pre>$ git add .</pre>

<h3>Adicionar apenas um arquivo ao commit</h3> 
<pre>$ git add caminho_do_arquivo</pre>

<h3>Encapsula REALMENTE todos arquivos e adicionar a mensagem ao mesmo</h3>
<pre>$ git commit -m "mensagem"</pre>

<h3>Comando importantissimo, é o que REALMENTE envia os arquivos para nuvem.</h3>
<pre>$ git push -u origin master</pre>

<h3>Verifica o status do branch atual</h3>
<pre>$ git status</pre>

<h3>CRIAR Branch novo e ao mesmo tempo mudar para ele</h3>
<pre>$ git checkout -b nome_branch</pre>

<h3>RETORNAR para o Branch MASTER</h3>
<pre>$ git checkout master</pre>

<h3>REMOVER o Branch</h3> 
<pre>$ git branch -D nome_branch</pre>

<h3>ALTERAR o nome do Branch</h3> 
<pre>$ git branch -m nome_atual nome_novo</pre>

<h3>LISTAR Branchs</h3> 
<pre>$ git branch</pre>