﻿<h3>Historico com os ultimos comandos executados</h3>
<pre>$ history | grep -i 'git' </pre>

<h3>ALIAS para criar comando de atalho</h3>
<pre><code>$ git config --global alias.st "status"</code></pre>

<h3>Para ver o arquivo que não foi commitado para o repositorio ORIGIN</h3>
<pre><code>$ git config --global alias.logdifforigin "log --name-only --pretty=format: master --not origin/master" </code></pre>
ou pesquisando pelo <strong>NOME DO SEU BRANCH</strong>

<pre>$ git logdifforigin = git log --name-only --pretty=format: nome_do_seu_bracnh_local --not origin/master</pre>

<h3>Listar todos os arquivos commitados no dia</h3>    
<pre>$ git log --since="1 day ago" --name-only --pretty=format: | sort | uniq </pre>
<a href="https://stackoverflow.com/questions/8016645/git-list-all-files-added-modified-on-a-day-or-week-month">Fonte</a>

<h3><b>NÃO</b> incluir arquivo no COMMIT</h3>    
NÃO incluir determinado arquivo que faz parte da sua configuração local, exemplo: retirar o arquivo editado por você da sua arvore de modificacoes , no nosso exemplo esse arquivo é de acesso de banco de dados; não tem necessidade de seu colega ou outra pessoa saber seu usuário e senha de banco.<br>
<code>Sintaxe:</code>
<pre>$ git checkout <b style="color:red">NOME_ARQUIVO</b></pre>
<code>Exemplo:</code>
<pre>$ git checkout <b>Database.php</b></pre>
