Caso JÁ TENHA o codigo fonte do projeto e quer simplesmente adicionar o GIT.
<pre>$ git init</pre>

Criar o arquivo <b>.gitignore</b>, ele é responsável por dizer o que <b>NUNCA</b> vai ser comitado!
<pre>$ touch .gitignore</pre>

Apontando para aonde está o seu repositorio
<pre>$ git remote add origin URL/SSH</pre>

Adicionando os arquivos ao pacote
<pre>$ git add .</pre>

"Fechando" o seu pacote e adicionando a mensagem para envio pro repositório
<pre>$ git commit -m "Mensagem"</pre>

Enviando para o repositorio remoto!
<pre>$ git push origin master</pre>