<h2>Referenciando issues no GITLAB</h2>

<h3>Issues no mesmo projeto:</h3>
<pre>$ git commit -m "this is my commit message. Ref #xxx"</pre>

<h3>Issues em projetos diferentes:</h3>
<pre>$ git commit -m "this is my commit message. Related to https://gitlab.com/<username>/<projectname>/issues/<xxx>"</pre>

<h3>Para também fechar tarefa basta adicionar à mensagem do commit o seguinte:</h3>
<pre>Closes #xxx</pre>

Ex.:
<pre>$ git commit -m "this is my commit message. Ref #38 Closes #38"</pre>
By: <i>Guilherme Dambros</i><br/>
<a href="https://docs.gitlab.com/ee/user/project/issues/crosslinking_issues.html">Fonte[1]</a>

<h3>Tempo na issue/tarefa</h3>
No GITLAB também é possivel atribuir o tempo estimado/<b>estimade</b> e o tempo de conclusão/<b>spend</b> da tarefa numa issue, exemplo abaixo:

<pre>tempo estimado de 3 horas
<b>/estimade 3h</b>
tempo de conclusão da tarefa de uma hora
<b>/spend 1h</b>
</pre>

O tempo pode ser mensurado em semanas(w), dias(d), horas(h) e/ou minutos(m)<br><br>

<div style="text-align:center" class="col-lg-12">
	<img id="imagem" src="../helper/images/git_issue_01.png" style="border:1px solid black;border-radius: 5px">
</div>

<br clear="all"><br clear="all">